<!-- View:    incoming directory                                -->
<!-- Purpose: Displays a incoming directory for editing.        -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "Edit Incoming Directory" %>

<hr class="div" />

<%= form_tag(:action => 'update') do %>

  <%= hidden_field "incoming_directory", "id" %>

  <table border="0">
    <tr>
      <td><label for="incoming_directory_name">Incoming Directory:</label></td>
      <td>
        <%= text_field("incoming_directory", 
                       "name", 
                       "size" => 30, 
                       "maxlength" => 30) %>
      </td>
    </tr>
    <tr>
      <td align="left">Active: </td>
      <td><%= check_box("incoming_directory", "active") %></td>
    </tr>
  </table>

  <hr class="div" />
  <input type="submit" value="Update Incoming Directory" />
  <input type="button" value="Return to Incoming Directory List" onClick="parent.location='<%= url_for( :action => 'list' ) %>'" />

<% end %>
