<!-- View:    check                                             -->
<!-- Purpose: Displays a form for adding the first check.  .    -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "Add First: Peer Audit Check" %>

<%= form_tag(:action => 'insert_first' ) do %>'

<%= hidden_field "section", "checklist_id" %>
<%= hidden_field "section", "id" %>
<%= hidden_field "subsection", "id" %>

  <hr class="div" />

  <table border="0" cellpadding="1" width="80%">
    <tr>
      <td colspan="3">&nbsp;</td>
      <th>Include in: </th>
    </tr>
    <tr>
      <td align="right"><b>Section:</b></td>
      <td><%= @subsection.section.name %></td>
      <th align="left">Full Audits:</th>

      <td align="center">
        <% if @subsection.section.full_review == 1 %>
          Yes
        <% else %>
          No
        <% end %>
      </td>

    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <th align="left">Date Code Audits:</th>

      <td align="center">
        <% if @subsection.section.date_code_check == 1 %>
          Yes
        <% else %>
          No
        <% end %>
      </td>

    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <th align="left">Dot Rev Audits:</th>

      <td align="center">
        <% if @subsection.section.dot_rev_check == 1 %>
          Yes
        <% else %>
          No
        <% end %>
      </td>

    </tr>
    <tr>
      <td align="right"><b>Subsection:</b></td>
      <td><%= @subsection.name %></td>

      <th align="left">Full Audits:</th>

      <td align="center">
        <% if @subsection.full_review? %>
          Yes
        <% else %>
          No
        <% end %>        
      </td>

     </tr>

     <tr>
      <td colspan="2">&nbsp;</td>
      <th align="left">Date Code Audits:</th>

      <td align="center">
        <% if @subsection.date_code_check? %>
          Yes
        <% else %>
          No
        <% end %>        
      </td>

    </tr>
     <tr>
      <td colspan="2">&nbsp;</td>
      <th align="left">Dot Rev Audits:</th>

      <td align="center">
        <% if @subsection.dot_rev_check? == 1 %>
          Yes
        <% else %>
          No
        <% end %>        
      </td>

    </tr>
  </table>

  <hr class="div" />

  <table border="0">
    <tr>
      <th valign="top" align="right">Title phrase: <br><font size="-2">(Optional displays in bold)</font></th>
      <td><%= text_field "new_check", "title", "maxlength" => 86 %></td>
    </tr>
    <tr>
      <th valign="top" align="right">Text:</th>
      <td><%= text_area "new_check", "check", "cols" => 64, "rows" => 2, "maxlength" => 128 %></td>
    </tr>
    <tr>
      <th valign="top" align="right">http://</th>
      <td><%= text_field "new_check", "url", "maxlength" => 86 %></td>
    </tr>
    <tr>
      <td colspan="2">
        <hr class="div">
        <table border="0">
          <tr>
            <td><%= check_box "new_check", "full_review" %> </td>
            <th align="left">Include in Full Audits</th>
          </tr>
          <tr>
            <td><%= check_box "new_check", "date_code_check" %> </td>
            <th align="left">Include in Date Code Audits</th>
          </tr>
          <tr>
            <td><%= check_box "new_check", "dot_rev_check" %> </td>
            <th align="left">Include in Dot Rev Audits</th>
          </tr>
        </table>
        <hr class="div">
        <table>
          <tr>
            <th valign="top" align="right">Check Type: </th>

            <td>
              <%= radio_button "new_check", "check_type", "yes_no"  %>
              <b>Yes/No</b>&nbsp;<br>

              <%= radio_button "new_check", "check_type", "designer_auditor" %>
              <b>Designer/Auditor</b>&nbsp;<br>

              <%= radio_button "new_check", "check_type", "designer_only" %>
              <b>Designer Only</b>&nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>

  <hr class="div" />

  <input type="submit" value="Add Check" />
  <input type="button" value="Cancel" onClick="parent.location='<%= url_for( :controller => 'checklist', :action => 'edit', :id => @subsection.checklist.id ) %>'">

<% end %>
