<!-- View:    tracker                                           -->
<!-- Purpose: Displays the rows for the managers tracker view.  -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<tr class="dk_gray" valign="top">
  <td align="center">
  <% logger.debug "====partial==="
  	 logger.debug design_data 
  	 logger.debug "======="%>
    <%= link_to(design_data[:design].directory_name,
                :controller => 'design',
                :action     => 'view',
                :id         => design_data[:design].id)%>
  </td>
  <td> <%= design_data[:design].phase.name %> </td>
  <td> <% if design_data[:design].phase.name == "Complete" -%>
  	      &nbsp;
  	   <% else -%>
  	     <%= design_data[:design].get_phase_design_review.review_status.name -%>
  	   <% end -%>
  </td>
  <td> <%= design_data[:platform_name] %> /
       <%= design_data[:project_name] %>  /
       <%= design_data[:design].pcb_description %> </td>
  <td> <%= design_data[:designer_name] %>     </td>
</tr>