<!-- View: audit                                                -->
<!-- Purpose: Alternates light and dark grey in the list of.    -->
<!--          audits.                                           -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<tr class="<%= audit_list_stripes_counter.modulo(2).nonzero? ? "dk_gray" : "lt_gray" %>">
  <td>
    <% bid = audit_list_stripes.id %>
    <% name = audit_list_stripes.display_name %>
    <%= link_to name, { :action => 'edit', :id => bid } %> 
  </td>
  <td>
    <%= link_to(image_tag('view'),
                { :action => 'print',
                  :id     => bid }) %>
  </td>
  <td> 
    <%= audit_list_stripes.design.design_type %>
  </td>
  <td>
    <%= audit_list_stripes.platform %>
  </td>
  <td>
    <%= audit_list_stripes.project %>
  </td>
  <td>
    <%= audit_list_stripes.designer %>
  </td>
  <td>
    <%= audit_list_stripes.auditor %>
  </td>
</tr>
