<tr class="<%= auditors_board_stripes_counter.modulo(2).nonzero? ? "dk_gray" : "lt_gray" %>">
  <td align="center">
    <% name = auditors_board_stripes[:my_audit_metrics][:display_name] %>
    <% if auditors_board_stripes[:my_audit_metrics][:designer_percent_complete] == 100.0%>
      <% audit_id = auditors_board_stripes.id %>
      <%= link_to name, { :action => 'show_sections', :id => audit_id } %>
    <% else %>
      <%= name %>
    <% end %>
  </td>
  <td align="center">
    <%= auditors_board_stripes[:my_audit_metrics][:auditor_check_count] %>
  </td>
  <td align="center">
    <%= sprintf("%4.1f",
                auditors_board_stripes[:my_audit_metrics][:auditor_check_complete]) %>
  </td>
  <td align="center">
    <%= auditors_board_stripes[:my_audit_metrics][:auditor_questions] %>
  </td>
  <td align="center">
    <%= auditors_board_stripes[:my_audit_metrics][:designer] %>
  </td>
  <td align="center">
    <%= auditors_board_stripes[:my_audit_metrics][:designer_check_count] %>
  </td>
  <td align="center">
    <%= sprintf("%4.1f",
        auditors_board_stripes[:my_audit_metrics][:designer_percent_complete]) %>
  </td>
</tr>
