<!-- View:    audit                                             -->
<!-- Purpose: Displays a form to modify audit teams.            -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "#{@audit.design.directory_name} Self/Peer Auditor Selection" %>

<%= form_tag(:controller => 'audit', :action => 'update_auditor_list') do %>

  <%= hidden_field("audit", "id") %>

  <table width="70%" align="center">
    <tr>
      <th align="right" width="50%">Lead Designer: </th>
      <td align="left"><%= @audit.design.designer.name %></td>
    </tr>
    <tr>
      <th align="right">Lead Peer Reviewer: </th>
      <td align="left"><%= @audit.design.peer.name %></td>
    </tr>
  </table>

  <table width="75%" align="center" border="2">
    <tr>
      <th>Section</th>
      <th>Self Auditor</th>
      <th>Peer Auditor</th>
    </tr>
    <% @audit.checklist.sections.each do |section| %>
      <tr>
        <% section_id = section.id %>
        <td valign="top"><%= section.name %></td>
        <td align="center" valign="top">
          <select id='self_section_id_<%= section_id %>' 
                  name='self_auditor[section_id_<%= section_id %>]'>
            <option value="">Please Select</option>
            <% self_auditor_id = @audit.self_auditor(section) ? @audit.self_auditor(section).id : 0 %>
            <%= options_from_collection_for_select(@audit.self_auditor_list,
                                                   "id",
                                                   :last_name_first,
                                                   self_auditor_id) %>
          </select>
        </td>
        <td align="center" valign="top">
          <% if section.designer_auditor_check_count > 0 %>
            <select id='peer_section_id_<%= section_id %>' 
                    name='peer_auditor[section_id_<%= section_id %>]'>
          <% else %>
            <select id='peer_section_id_<%= section_id %>' 
                    name='peer_auditor[section_id_<%= section_id %>]'
                    disabled='disabled'>
          <% end %>
            <option value="">Please Select</option>
            <% peer_auditor_id = @audit.peer_auditor(section) ? @audit.peer_auditor(section).id : 0 %>
            <%= options_from_collection_for_select(@audit.peer_auditor_list,
                                                   "id",
                                                   :last_name_first,
                                                   peer_auditor_id) %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  
  <hr width="95%" align="center" class="div" />

  <table align="center" width="90%">
    <tr>
      <td align="left" width="50%">
        <input class="form_submit" type="submit" value="Update Assignments" />
      </td>
      <td align="right">
        <input class="form_return" type="button" value="Return"
         onClick="parent.location='<%= url_for_stored() %>'" />
      </td>
    </tr>
  </table>

<% end %>

<%# debug @auditor_list %>
<%# debug session %>
