<ul>
  <li>
  	<%= link_to("Audits", { :action => 'audits' }) %>
  </li>
  <li>
  	<%= link_to("Boards", { :action => 'boards' }) %>
  </li>
  <li>
  	<%= link_to("Board Design Entires", { :action => 'board_design_entries' }) %>
  </li>
  <li>
       <%= link_to("Change", { :action => 'view_change' }) %>
  </li>
  <li>
  	<%= link_to("Checklists", { :action => 'checklists' }) %>
  </li>
  <li>
  	<%= link_to("Cycle Times", { :action => 'select_reviewers' }) %>
  </li>
  <li>
  	<%= link_to("Design", { :action => 'designs' }) %>
  </li>
  <li>
  	<%= link_to("Orphaned Audits", { :action => 'orphaned_audits' }) %>
  </li>
  <li>
  	<%= link_to("Orphaned Checks", { :action => 'orphaned_checks' }) %>
  </li>
  <li>
  	<%= link_to("Part Numbers", { :action => 'part_numbers' }) %>
  </li>
  <li>
  	<%= link_to("All Users", { :action => 'users' }) %>
  </li>
  <li>
  	<%= link_to("Active Users", { :action => 'active_users' }) %>
  </li>
  <li>
  	<%= link_to("Inactive Users", { :action => 'inactive_users' }) %>
  </li>
</ul>