<h1>Part Numbers</h1>

<%= link_to("DEBUG HOME", { :action => 'index' }) %>

<p>Number of Part Numbers: <%= @part_numbers.size %></p>


<table border="1">


  <% @part_numbers.each_with_index do |part_number, line_number| 

     if line_number.remainder(20) == 0 %>
      <tr class="teraheader" valign="top">
        <th>#</th>
        <th>ID</th>
        <th>PCB Number</th>
        <th>PCBA Number</th>
        <th># DESIGNS</th>
        <th>DESIGN ID</th>
        <th># BDE</th>
        <th>BDE ID</th>
        <td>&nbsp;</td>
      </tr>
	 
  <% end %>

    <tr>
      <td><%= line_number + 1 %></td>
      <td><%= part_number.id %></td>
      <td align="center"><%= part_number.name_string %></td>
      <td align="center"><%= part_number.name_string %></td>
      <td align="center"><%= part_number[:design_count] rescue "" %></td>
      <td align="center"><%= part_number[:design_id] %></td>
      <td align="center"><%= part_number[:bde_count] rescue "" %></td>
      <td align="center"><%= part_number[:board_design_entry_id] %></td>
      <% if (part_number[:design_count] == 0 && part_number[:bde_count] == 0) %>
        <td align="center">
          <%= link_to('Delete', 
                      {:action => 'delete_part_number',
                       :id     => part_number.id},
                       :title  => "This part number does not have any associations with it - it can be deleted",
                       :confirm => "Click 'OK' to delete " + 
                                    part_number.name_string) %>
        </td>
      <% else %>
        <td align="center">-</td>
      <% end %>
    </tr>

  <% end %>
  
</table>
