<!-- View:    debug                                             -->
<!-- Purpose: Displays a list of reviewers for each of the      -->
<!--          review roles.  The reviewers are selectable in    -->
<!--          the form.                                         -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<%= form_tag(:action => 'cycle_time') do -%>

  <hr class="div" />

  <table border="0">
    <% @review_types.each do |review_type| %>
      <tr>
        <td width="40">&nbsp;</td>
        <% tag = 'rt_' + review_type.id.to_s %>
        <td><input id='<%= tag %>' name='<%= tag %>' type='checkbox' value='1' checked='checked' /></td>
        <td><%= review_type.name %></td>
      </tr>
    <% end %>
  </table>

  <hr class="div" />

  <% @review_roles.each do |role| %>

    <table align="center" border="0">

      <tr class='teraheader'>
        <th colspan="10"><%= role.display_name %></th>
      </tr>
      <tr>
        <td width='25'>
          <% tag = 'role_' + role.id.to_s %>
          <input id='<%= tag %>' name='<%= tag %>' type='checkbox' value='1' />
        </td>
        <td colspan='9'>All <%= role.display_name %> Reviewers</td>
      </tr>
      <tr>
        <% reviewers = role.users.sort_by { |u| u.last_name } %>
        <% reviewers.each_with_index do |user, i|%>
          <% tag = 'role_' + role.id.to_s + '_user_' + user.id.to_s %>
          <td width='25'>
            <input id='<%= tag %>' name='<%= tag %>' type='checkbox' value='1' />
          </td>
          <td width="175"><%= user.name %></td>
          <% if (i+1).remainder(5) == 0 && i+1 < reviewers.size%>
            </tr>
            <tr>
          <% end %>
        <% end %>

        <% cols = reviewers.size.remainder(5)%>

        <% if cols > 0 && reviewers.size < 5 %>
          <% width = (5 - cols) * 200 %>
          <td width='<%= width %>'>&nbsp;</td>
        <% end %>
      </tr>
    </table>

  <% end %>

  <hr class="div" />

  <input type="submit" value="Get Cycle Times" />

<% end %>

<%# debug @review_roles %>