<table class="design_change_table">
  
  <tr>
    <th class="teraheader" colspan="3">Enter Design Schedule Impact</th>  
  </tr>
  
  
  <% if @design_change.errors[:change_class_id] %>
    <tr bgcolor="yellow">
      <td class="design_change_table_header">&nbsp;</td>
      <td colspan="2" class="design_change_table_warning">
        <%=h @design_change.errors[:change_class_id] %>
      </td>
    </tr>
  <% elsif @design_change.errors[:change_type_id] %>
    <tr bgcolor="yellow">
      <td class="design_change_table_header">&nbsp;</td>
      <td colspan="2" class="design_change_table_warning">
        <%=h @design_change.errors[:change_type_id] %>
      </td>
    </tr>
  <% elsif @design_change.errors[:change_item_id] %>
    <tr bgcolor="yellow">
      <td class="design_change_table_header">&nbsp;</td>
      <td colspan="2" class="design_change_table_warning">
        <%=h @design_change.errors[:change_item_id] %>
      </td>
    </tr>
  <% elsif @design_change.errors[:change_detail_id] %>
    <tr bgcolor="yellow">
      <td class="design_change_table_header">&nbsp;</td>
      <td colspan="2" class="design_change_table_warning">
        <%=h @design_change.errors[:change_detail_id] %>
      </td>
    </tr>
  <% end %>



  <tr valign="top">
    
    <th class="design_change_table_header">Change Class:&nbsp;</th>
    <td class="design_change_table_col_2">
      <%= collection_select(:design_change, :change_class_id, @change_classes, :id, :name,
                            { :include_blank => 'Please Select' }, "class"=> 'name_select') %>
      <%= observe_field('design_change_change_class_id', 
                        :update => 'design_change_form_details',
                        :url    => {:action => 'display_design_change_form'},
                        :with   => "'change_class_id=' + escape(value)") %>
    </td>

    <% if @design_change.change_class_set? %>
      <td rowspan="<%=  definition_rows(@design_change)%>" 
                        valign="top"  class="design_change_table_col_3" bgcolor="#cfcfcf">
        <table width="100%" cellpadding="0" cellspacing="0">
          <% if @design_change.change_class_set? %>
            <tr><td class="changenote"><%=h @design_change.change_class.definition %>
          <% end %>
          <% if @design_change.change_type_set? %>
            <tr><td class="changenote"><%=h @design_change.change_type.definition %>
          <% end %>
          <% if @design_change.change_item_set? %>
            <tr><td class="changenote"><%=h @design_change.change_item.definition %>
          <% end %>
          <% if @design_change.change_detail_set? %>
            <tr><td class="changenote"><%=h @design_change.change_detail.definition %>
          <% end %>
        </table>
      </td>
    <% else %>
      <td class="design_change_table_col_3">&nbsp;</td>
    <% end %>
  </tr>
  
  <% if @design_change.change_class_set? && @design_change.change_class.change_types.size > 0 %>
    <tr valign="top">
      <th class="design_change_table_header">Change Type:&nbsp;</th>
      <td class="design_change_table_col_2">
        <%= collection_select(:design_change, 
                              :change_type_id, 
                              @design_change.change_class.change_types,
                              :id, 
                              :name,
                              { :include_blank => 'Please Select' }, "class"=> 'name_select') %>
        <%= observe_field('design_change_change_type_id', 
                          :update => 'design_change_form_details',
                          :url    => {:action => 'display_design_change_form'},
                          :with   => "'change_type_id=' + escape(value)") %>
      </td>
    </tr>
    
    <% if @design_change.change_type_set? && @design_change.change_type.change_items.size > 0%>
      <tr valign="top">
        <th class="design_change_table_header">Change Item:&nbsp;</th>
        <td class="design_change_table_col_2">
          <%= collection_select(:design_change, 
                                :change_item_id, 
                                @design_change.change_type.change_items,
                                :id, 
                                :name,
                                { :include_blank => 'Please Select' }, "class"=> 'name_select') %>
          <%= observe_field('design_change_change_item_id', 
                            :update => 'design_change_form_details',
                            :url    => {:action => 'display_design_change_form'},
                            :with   => "'change_item_id=' + escape(value)") %>
        </td>
      </tr>
      
      <% if @design_change.change_item_set? && @design_change.change_item.change_details.size > 0 %>
        <tr valign="top">
          <th class="design_change_table_header">Change Detail:&nbsp;</th>
          <td class="design_change_table_col_2">
            <%= collection_select(:design_change, 
                                  :change_detail_id, 
                                  @design_change.change_item.change_details,
                                  :id, 
                                  :name,
                                  { :include_blank => 'Please Select' }, "class"=> 'name_select') %>
            <%= observe_field('design_change_change_detail_id', 
                              :update => 'design_change_form_details',
                              :url    => {:action => 'display_design_change_form'},
                              :with   => "'change_detail_id=' + escape(value)") %>
          </td>
        </tr>
        
      <% end %>
    <% end %>
  <% end %>
  
</table>


