<!-- View:    division                                          -->
<!-- Purpose: Displays a division for modification.              -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "Edit Division" %>

<hr class="div" />

<%= form_tag(:action => 'update') do %>

  <%= hidden_field "division", "id" %>

  <table border="0">
    <tr>
      <td>
        <label for="division_name">Division:</label>
        <%= text_field "division", "name", "size" => 30, "maxlength" => 30 %>
      </td>
    </tr>
    <tr>
      <td align="left">Active: 
        <%= check_box "division", "active" %>
      </td>
    </tr>
  </table>

  <hr class="div" />
  <input type="submit" value="Update Division" />
  <input type="button" value="Return to Division List" onClick="parent.location='<%= url_for( :action => 'list' ) %>'" />

<% end %>
