<!-- View:    change_items                                      -->
<!-- Purpose: Displays the change items edit form.              -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<h1>Edit Change Item</h1>

<%= render(:partial => 'parent_table') %>

<% if @change_items.size > 0 %>
  
  <%= render( :partial => 'existing_items_table') %>

<% end %>

<hr class="div" align="center" width="80%" />

<% form_for([@change_type, @change_item]) do |@f| %>

  <%= render( :partial => 'form_table') %>

  <hr class="div" align="center" width="80%" />

  <table align="center" width="75%" border="0">
    <tr>
      <td align="left" width="33%">
        <%= link_to 'Return to list', change_type_change_items_path(@change_type.id) %>
      </td>
      <td align="center">
         <%= @f.submit "Update Change Item" %>
      </td>
      <td align="right" width="33%">
        <%= link_to 'Return to Admin Portal', { :controller => :admin } %>
      </td>
    </tr>
  </table>

  <hr class="div" align="center" width="80%" />
<% end %>
