<!-- View:    change_items                                      -->
<!-- Purpose: Displays a listing of the change items.           -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<h1>Change Items</h1>

<%= render(:partial => 'parent_table') %>

<% if @change_items.size > 0 %>
  <table align="center">
    <tr>
      <th class="teraheader">Name</th>
      <th class="teraheader">Active</th>
      <th class="teraheader">Position</th>
      <th class="teraheader">Change Details</th>
    </tr>

  <% @change_items.each do |change_item| %>
    <tr valign="top">
      <td><%= link_to(h(change_item.name), edit_change_type_change_item_path(@change_type, change_item)) %></td>
      <td align="center"><%= change_item.active? ? 'Yes' : 'No' %></td>
      <td align="center"><%= change_item.position %></td>
      <td>
        <table cellspacing="0">
          <tr>
            <td><%= link_to "Change Details List", change_item_change_details_path(change_item.id) %></td>
          </tr>
          <% change_item.change_details.each do |change_detail| %>
            <tr>
              <td><%=h change_detail.name %></td>
            </tr>
          <% end %>
        </table >
      </td>
      <td><%# link_to 'Show', change_class %></td>
      <td><%# link_to 'Edit', edit_change_class_path(change_class) %></td>
      <td><%# link_to 'Destroy', change_class, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p align="center">No Change Types have been recorded.</p>
<% end %>

<hr class="div" align="center" width="80%" />

<table align="center" width="75%" border="0">
  <tr>
    <td align="left" width="33%">
      <%= link_to 'New Change Item', new_change_type_change_item_path(@change_type.id) %>
    </td>
    <td align="center" width="34%">
      <%= link_to 'Return to Change Types', change_class_change_types_path(@change_type.change_class.id) %>
    </td>
    <td align="right" width="33%">
      <%= link_to 'Return to Admin Portal', { :controller => :admin } %>
    </td>
  </tr>
</table>

<hr class="div" align="center" width="80%" />
