<!-- View:    change details                                    -->
<!-- Purpose: Displays the change details creation form.        -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<h1>New Change Detail</h1>

<%= render(:partial => 'parent_table') %>

<% if @change_details.size > 0 %>
  <%= render( :partial => 'existing_details_table') %>
  <hr class="div" align="center" width="80%" />
<% end %>

<% form_for([@change_item, @change_detail]) do |@f| %>

  <%= render( :partial => 'form_table') %>

  <hr class="div" align="center" width="80%" />

  <table align="center" width="75%" border="0">
    <tr>
      <td align="left" width="33%">
        <%= link_to 'Return to list', change_item_change_details_path(@change_item) %>
      </td>
      <td align="center">
         <%= @f.submit "Create New Change Detail" %>
      </td>
      <td align="right" width="33%">
        <%= link_to 'Return to Admin Portal', { :controller => :admin } %>
      </td>
    </tr>
  </table>

  <hr class="div" align="center" width="80%" />
<% end %>
