<!-- View:    design                                            -->
<!-- Purpose: Displays a list of active designs to for users    -->
<!--          to get a quick status on every design.          -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading =  "My Active Designs" %>

<hr class="div" />

<p align="center" style="max-width:800px;margin-left:auto; margin-right:auto;" >
When the page initially loads it displays all designs that you are involved in. 
If you have submitted the PCB Engineering Entry, are the designer, or are listed as a 
reviewer on one of the design reviews, the design will be included in the initial table.
Clicking the button below the table will update the page to display all active designs. 
Successive button clicks will toggle between these two views. 
</p> 


<table align="center" border="1" cellspacing="2" cellpadding="2" >

  <tr class="teraheader">
    <th>PCBA Number</th>
    <th>PCB Number</th>
    <th>Name</th>
    <th>Phase</th>
    <th>Review Status</th>
  </tr>

  <% @active_designs.each do |design| %>
    <% is_involved = defined?(@logged_in_user).nil? ? false : design.is_user_involved?(@logged_in_user) %>
    <% row_class = is_involved ? "involved" : "not_involved" %>
    <% dis_class = is_involved ? "" : "display: none;" %>
    <% pcb_num = design.pcb_number %>
    <% design_review = design.get_phase_design_review %>
    <% pcbas = PartNum.get_design_pcba_part_numbers(design.id) %>
    <% if pcbas.length > 0 %>
      <% pcbas.each do |pcba| %>
	<tr class="<%= row_class %>" style="<%= dis_class %>" >
          <td align="center"><%= pcba.name_string %></td>
	  <td align="center"><%= pcb_num %></td>
	  <td> &nbsp; <%= design.board.project.name + " / " + design.pcb_description %></td>
	  <td align="center"><%= link_to(design.phase.name,
				       {:controller => 'design_review',
				        :action => :view,
				        :id => design_review.id})  %></td>
	  <td align="center"><%= design_review.review_status.name %></td>
        </tr>
      <% end %>
    <% else %>
      <tr class="<%= row_class %>" style="<%= dis_class %>" >
        <td align="center">"(no pcba number)"</td>
	<td align="center"><%= pcb_num %></td>
	<td> &nbsp; <%= design.board.project.name + " / " + design.pcb_description %></td>
	<td align="center"><%= link_to(design.phase.name,
				       {:controller => 'design_review',
				        :action => :view,
				        :id => design_review.id})  %></td>
	<td align="center"><%= design_review.review_status.name %></td>
      </tr>  
    <% end %>
  <% end %>	
</table>
<br>
<div align="center">
  <input type="button" class="toggle_design_list" value="Display All Active Designs" >
</div>



