<!-- View:    design center                                     -->
<!-- Purpose: Displays a form to add a new design center.       -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->


<% @heading = "Create a new design center" %>

<hr class="div" />

<%= form_tag(:action => 'create') do %>

  <table border="0">
    <tr>
      <td>
        <label for="design_center_name">Design Center:</label>
      </td>
      <td>
        <%= text_field "new_design_center", "name", "size" => 32, "maxlength" => 32 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="design_center_pcb_path">PCB Path:</label>
      </td>
      <td>
        <%= text_field "new_design_center", "pcb_path", "size" => 32, "maxlength" => 32 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="design_center_hw_path">HW Path:</label>
      </td>
      <td>
        <%= text_field "new_design_center", "hw_path", "size" => 32, "maxlength" => 32 %>
      </td>
    </tr>
    <tr>
      <td> 
        <label for="design_center_path">Active:</label>
      </td>
      <td>
        <%= check_box "new_design_center", "active", { 'checked' => 'checked' } %>
      </td>
    </tr>
  </table>

  <hr class="div" />
  <input type="submit" value="Create a new design center" />
  <input type="button" value="Cancel" onClick="parent.location='<%= url_for( :action => 'list' ) %>'" />

<% end %>
