<!-- View:    design center                                     -->
<!-- Purpose: Displays a design center for editing.             -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "Edit Design Center" %>

<hr class="div" />

<%= form_tag(:action => 'update') do %>

  <%= hidden_field "design_center", "id" %>

  <table border="0">
    <tr>
      <td>
        <label for="design_center_name">Design Center:</label>
      </td>
      <td>
        <%= text_field "design_center", "name", "size" => 32, "maxlength" => 32 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="design_center_pcb_path">PCB Path:</label>
      </td>
      <td>
        <%= text_field "design_center", "pcb_path", "size" => 32, "maxlength" => 32 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="design_center_hw_path">HW Path:</label>
      </td>
      <td>
        <%= text_field "design_center", "hw_path", "size" => 32, "maxlength" => 32 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="design_center_path">Active:</label>
      </td>
      <td>
        <%= check_box "design_center", "active" %>
      </td>
    </tr>
  </table>

  <hr class="div" />
  <input type="submit" value="Update Design Center" />
  <input type="button" value="Return to Design Center List" onClick="parent.location='<%= url_for( :action => 'list' ) %>'" />

<% end %>
