<!-- View:    System Message Form                                         -->
<!-- Purpose: Displays a form to prompt for a system message.  -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<hr class="div" width="820" />

<%= form_for(@system_message) do %>

    <table border='0' align="center" width="800">
      <tr>
        <th class="teraheader" align="right">Title:&nbsp;</th>
        <td>
          <%= text_field("system_message", "title", :size => 80,) %>
        </td>
      </tr>  <tr>
        <th class="teraheader" align="right">Message Type:&nbsp;</th>
        <td>
          <%= select("system_message", "message_type", options_for_select(@types)) %>
        </td>
      </tr>
      <tr>
        <th class="teraheader" align="right">Message:&nbsp;</th>
        <td>
          <%= text_area("system_message", "body", :size => "60x3" ) %>

        </td>
      </tr>
      <tr>
        <th class="teraheader" align="right">Valid From:&nbsp;</th>
        <td>
      	  <%= text_field(:system_message, :valid_from, :value => (@system_message.new_record? ? Time.now.strftime("%B %d, %Y") : @system_message.valid_from.strftime("%B %d, %Y")))%>
          <%#= datetime_select(:system_message, :valid_from, :order => [:year, :month, :day], :default => {:year => Time.now.year, :month => 1, :day => 1}, :discard_minute => true, :discard_hour => true,  :start_year => Time.now.year, :end_year => Time.now.year+99 ) %>
        </td>
      </tr>
      <tr>
        <th class="teraheader" align="right">Valid Until:&nbsp;</th>
        <td>
      	  <%= text_field(:system_message, :valid_until, :value => (@system_message.new_record? ? Date.new(Time.now.year+10).strftime("%B %d, %Y") : @system_message.valid_until.strftime("%B %d, %Y")))%>
          <%#= datetime_select(:system_message, :valid_until, :order => [:year, :month, :day], :default => {:year => Time.now.year+99, :month => 1, :day => 1}, :discard_minute => true, :discard_hour => true,  :start_year => Time.now.year, :end_year => Time.now.year+99 ) %>
        </td>
      </tr>
    </table>
    
    <hr class="div" width="820" />
    
    <table border='0' align="center" width="800">
      <tr>
        <td align="left">
          <input type="button" value="Admin Portal" 
            onClick="parent.location='<%= url_for( :controller => 'admin', :action => 'index') %>'" />
        </td>
        <td align="center">
          <input type="submit" value="Submit Message" />
        </td>
        <td align="right">
          <input type="button" value="Home" 
            onClick="parent.location='<%= url_for( :controller => 'tracker', :action => 'index') %>'" />
        </td>
      </tr>
    </table>
<% end %>
