<!-- View:    System Message Form                                         -->
<!-- Purpose: Displays a form to prompt for a system message.  -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<hr class="div" width="820" />

<%= form_for(@system_message) do %>

    <table border='0' align="center" width="800">
      <tr>
        <th class="teraheader" align="right">Title:&nbsp;</th>
        <td>
          <%= text_field("system_message", "title", :size => 80,) %>
        </td>
      </tr>  <tr>
        <th class="teraheader" align="right">Message Type:&nbsp;</th>
        <td>
          <%= select("system_message", "message_type", options_for_select(@types), :selected => @system_message.message_type) %>
        </td>
      </tr>
      <tr>
        <th class="teraheader" align="right">Message:&nbsp;</th>
        <td>
          <%= text_area("system_message", "body", :size => "60x3" ) %>
          <script type="text/javascript">
                init_textarea("system_message_body");
          </script>
        </td>
      </tr>
      <tr>
        <th class="teraheader" align="right">Valid From:&nbsp;</th>
        <td>
          <%= datetime_select(:system_message, :valid_from, :start_year => Time.now.year, :end_year => Time.now.year+1) %>
        </td>
      </tr>
      <tr>
        <th class="teraheader" align="right">Valid Until:&nbsp;</th>
        <td>
          <%= datetime_select(:system_message, :valid_until, :start_year => Time.now.year, :end_year => Time.now.year+1) %>
        </td>
      </tr>
    </table>
    
    <hr class="div" width="820" />
    
    <table border='0' align="center" width="800">
      <tr>
        <td align="left">
          <input type="button" value="Admin Portal" 
            onClick="parent.location='<%= url_for( :controller => 'admin', :action => 'index') %>'" />
        </td>
        <td align="center">
          <input type="submit" value="Submit Message" />
        </td>
        <td align="right">
          <input type="button" value="Home" 
            onClick="parent.location='<%= url_for( :controller => 'tracker', :action => 'index') %>'" />
        </td>
      </tr>
    </table>
<% end %>
