<!-- View:    board_design_entry                                -->
<!-- Purpose: Displays a form to add a new PCB Engineering      -->
<!--          Entry.                                            -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->


<SCRIPT type="text/javascript">
	window.part_nums = <%= raw @part_nums_script.to_json %>;
	window.brd_part_nums = <%= raw @brd_part_nums_script.to_json %>;
  /* This code makes the jump from the part number prefix to the
     part number number.
  */
  function doNext(el)
  {
    if ( el.value.length < el.getAttribute('maxlength') ) return;
    for (i=0; i< el.form.elements.length; i++) {
      if (el.form.elements[i].tabIndex == el.tabIndex+1) {
        el.form.elements[i].focus();
        if (el.form.elements[i].type == "text") {
          el.form.elements[i].select();
        }
        break;
      }
    }
  }
</SCRIPT>

<% flash['errors'] %>
<hr class="div" />

<%= form_tag( @next_action,{ :planning_review => @planning, :name => "part_number_entry"}) do %>
	<p style="text-align:center;"><b>
		NOTE: Part numbers may only contain letters, numbers, and dashes(-)
		<br>
		Examples of acceptible syntax: 123-456-78, PCB1234, PCB1234G-R1
		</b></p>
	<table align="center">
		<tr>
		  <td colspan=4 class="part_number_error" >
		    <%= "" %>
		  </td>
		</tr>		
	</table>
  <% @tabindex = 0  %>
  <% row_num = 0 %>
  <table align="center" border="1" cellspacing="5">
    <% @rows.each do | row | %>
      <%= render(:partial    => "shared/pn_row",
        :object   => row,
        :locals => {:row_num => row_num += 1 } ) %>
    <% end %>
  </table>
	
  <p align="center"><input type="reset" name="Reset" value="Reset Entries"/></p>
  <table align="center" width="500" border="5">
    <tr>
      <th valign="top" class='teraheader'>STD ONLY NOTES</th>
    </tr>
    <tr bgcolor="#cfcfcf">
      <td>
        <ul>
          <li>
            <b>
              PCBA Part Number not required for Bare Board Only (Dot-Rev) Changes.
            </b>
          </li>
          <li>
            <%= link_to('Teradyne PCB Part Number Documentation',
              'http://boarddev.teradyne.com/boarddev/standards/index.php?file=bareboard_rev.html',
              :popup => true )%>
          </li>
          <li>
            <b>
              Please obtain the PCB/PCBA Part Numbers from TeamCenter before proceeding.
              Entries will not be processed if the part numbers do not exist in TeamCenter.
            </b>
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <!-- ********************************************************** -->

  <hr class="div" />

  <table width="80%" align="center" border='0'>
    <tr>
      <td align="left">
          <input type="button" class="form_return"
                 value="<%= @cancel_value %>"
                 onClick="parent.location='<%= url_for( @cancel_action ) %>'" />
      </td>
      <td align="right">
          <input type="submit" id="part_num_form_submit" class="form_submit" name="<%=@planning%>" value="<%=@next_value%>" />
      </td>
    </tr>
  </table>

<% end %>

