<!-- View:    board_design_entry                                -->
<!-- Purpose: Displays a form to add a new PCB Engineering      -->
<!--          Entry.                                            -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->


<SCRIPT type="text/javascript">
  /* This code makes the jump from the part number prefix to the
  part number number.
  */
  function doNext(el)
  {
    if ( el.value.length < el.getAttribute('maxlength') ) return;
    for (i=0; i< el.form.elements.length; i++) {
      if (el.form.elements[i].tabIndex == el.tabIndex+1) {
        el.form.elements[i].focus();
        if (el.form.elements[i].type == "text") {
          el.form.elements[i].select();
        }
        break;
      }
    }
  }

</SCRIPT>
<% flash['errors'] %>
<hr class="div" />

<%= form_tag( @next_action, {:name => "part_number_entry"}) do %>

  <% @tabindex = 0  %>
  <% row_num = 0 %>
  <table align="center" border="1" cellspacing="5">
     <% @rows.each do | row | %>
      <%= render(:partial    => "shared/pn_row",
        :object   => row,
        :locals => {:row_num => row_num += 1 } ) %>
    <% end %>
  </table>
  <p align="center"><input type="reset" name="Reset" value="Reset Entries"/></p>
  <table align="center" width="500" border="5">
    <tr>
      <th valign="top" class='teraheader'>NOTE</th>
    </tr>
    <tr bgcolor="#cfcfcf">
      <td>
        <ul>
          <li>
            <b>
              PCBA Part Number not required for Bare Board Only (Dot-Rev) Changes.
            </b>
          </li>
          <li>
            <%= link_to('Teradyne PCB Part Number Documentation',
              'http://boarddev.teradyne.com/boarddev/standards/index.php?file=bareboard_rev.html',
              :popup => true )%>
          </li>
          <li>
            <b>
              Please obtain the PCB/PCBA Part Numbers from TeamCenter before proceeding.
              Entries will not be processed if the part numbers do not exist in TeamCenter.
            </b>
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <!-- ********************************************************** -->

  <hr class="div" />

  <table width="80%" align="center" border='0'>
    <tr>
      <td align="left">
          <input type="button" class="form_return"
                 value="<%= @cancel_value %>"
                 onClick="parent.location='<%= url_for( @cancel_action ) %>'" />
      </td>
      <td align="right">
          <input type="submit" class="form_submit" value="<%=@next_value%>" />
      </td>
    </tr>
  </table>

<% end %>

