<!-- View:    eco  task                                         -->
<!-- Purpose: Displays the edit view for the ECO Task.          -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading =  "ECO CAD Task: Edit ECO Number #{@eco_task.number}" %>

<% eco_admin = @logged_in_user.is_a_role_member?('ECO Admin') %>

<%= form_for(@eco_task, :html => {:multipart => true} ) do |f| %>

    <table border="0" cellspacing="0" width="100%" align="center">
      <tr>
        <th class="teraheader" colspan="2">Task Information</th>
      </tr>
     </table>

<%= render :partial => "view_task", 
  :locals => { :f => f, :eco_admin => eco_admin } %>

  <table align="center" width="880" border="0">
    <tr>
      <td align="left"   width="220"><%= f.submit "Update" %></td>
      <td align="right"  width="220">
        <%= link_to 'Return to List', session[:return_to] %>
      </td>
    </tr>
    <tr><td colspan="4"><hr class="div" /></td></tr>
  </table>
<%  end %>


  <br /><br />
  <div id="comments">
  
  <table border="0" cellspacing="0" width="100%" align="center">
    <tr>
      <th class="teraheader" colspan="2">Attachments</th>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
      <td align="center">
        <% if @eco_task.attachments? %>
          <table border="0">
            <tr>
              <th class="teraheader" width="300">Document</th>
              <th class="teraheader" width="200">Attached On</th>
              <th class="teraheader" width="300">Attached By</th>
              <% if eco_admin %>
                <th class="teraheader">&nbsp;</th>
              <% end %>
            </tr>
            <% @eco_task.attachments.each do |attachment| %>
              <tr>
                <td>
                  <%= link_to(attachment.name,
	                      :action => "get_attachment",
                              :id     => attachment.id) %>
                </td>
                <td><%= attachment.created_at.format_dd_mon_yy('timestamp')  %>
                </td>
                <td><%=h attachment.user.name %></td>
                <% if eco_admin %>
                  <td>
                    <%= link_to('Delete', attachment,
                                :confirm => "Do you really want to delete #{attachment.name}?",
                                :method  => :delete ) %>      
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        <% else %>
          <b>No Attachments</b>
        <% end %>
      </td>
    </tr>
  </table>

  </div>

  <br /><br />
  
  <% if @eco_task.eco_comments.size > 0 %>
    <table border="0" cellspacing="0" width="100%" align="center">
      <tr>
        <th class="teraheader" colspan="2">Task Comments</th>
      </tr>
      <%= render( :partial    => "comment_list",
                  :collection => @eco_task.eco_comments) %>
    </table>
  <% end %>
  

  <hr class="div" />

<%# debug "eco admin: #{eco_admin}" %>
<%# debug session[:return_to] %>
<%# debug @logged_in_user.roles %>
<%# debug @eco_task.attachments? %>
<%# debug @eco_task.attachments %>