<!-- View:    eco  task                                         -->
<!-- Purpose: Displays the details of an ECO task.              -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading =  "ECO CAD Task: ECO Number #{@eco_task.number}" %>

<%= render :partial => "view_task",
  :locals => { :f => f, :eco_admin => eco_admin } %>


<table align="center" width="880" border="0">
  <tr><td colspan="4"><hr class="div" /></td></tr>
  <tr>
    <td align="center" width="100%">
      <%= link_to 'Return to ECO CAD Task List', eco_tasks_path %>
    </td>
  </tr>
  <tr><td colspan="4"><hr class="div" /></td></tr>
</table>

 <table border="0" cellspacing="0" width="100%" align="center">
    <tr>
      <th class="teraheader" colspan="2">Attachments</th>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
      <td align="center">
        <% if @eco_task.attachments? %>
          <table border="0">
            <tr>
              <th class="teraheader" width="300">Document</th>
              <th class="teraheader" width="200">Attached On</th>
              <th class="teraheader" width="300">Attached By</th>
            </tr>
            <% @eco_task.attachments.each do |attachment| %>
              <tr>
                <td>
                  <%= link_to(attachment.name,
	                      :action => "get_attachment",
                              :id     => attachment.id) %>
                </td>
                <td><%= attachment.created_at.format_dd_mon_yy('timestamp')  %>
                </td>
                <td><%=h attachment.user.name %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <b>No Attachments</b>
        <% end %>
      </td>
    </tr>
    <tr><td colspan="3"><hr class="div" /></td></tr>
   </table>
 
  <% if @eco_task.eco_comments.size > 0 %>
    <table border="0" cellspacing="0" width="100%" align="center">
      <tr>
        <th class="teraheader" colspan="2">Task Comments</th>
      </tr>
      <%= render( :partial    => "comment_list",
                  :collection => @eco_task.eco_comments) %>
    </table>
  <% end %>


  <hr class="div" />
<%# debug @eco_task %>
