<!-- View:    design_review#_reviewer_selections                -->
<!-- Purpose: Displays the reviewer's review result and fab     -->
<!--          house selection options.                          -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<!-- Commented this out 1/9/14 because changing behavior of reject. It is now processed like others-->
<% if false %>
		
	<% content_for :rawheader do %>
	<style type="text/css" >
	
	.rejectText { 
		background-color: gold ;
	}
	.ui-dialog .ui-dialog-buttonpane { 
	    text-align: center;
	}
	.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
	    float: none;
	}
	</style>
	<% end %>


	<% content_for :header do %>
	   //Method for _reviewer_selections.html.erb
	   $(document).ready(function() {    
	     $("#rejectDialog").dialog({
	        autoOpen: false
	     }) // end of dialog initialization
	        
	     $(".reject").click(function() {
		    var id = $(this).attr('id');
		    id = id.replace("REJECTED","COMMENTED");
	      	var item=this;
	        //Set the buttons
	        $("#rejectDialog").dialog("option", "buttons", [
	          { text: "Change Reject to Comment", click: function() {
	           	    $('#' + id).prop('checked', true);
		          	item.checked = false;
		          	$(this).dialog("close");
		          }
		      },
	          { text: "Keep Reject", click: function() {
		          	$(this).dialog("close");
		          }
		     }
		     ]
	        );  
	        $("#rejectDialog").dialog("open");
	     });
	   });
	<% end %>
	
	<div id="rejectDialog" title="Reject Confirmation" >
		<p class="rejectText"><%= image_tag("important2.gif") %> A rejection will result in the 
			<b>withdrawal</b> of all existing approvals and requires a <b>REPOST</b> of the review.</p>
		<p class="rejectText">If your findings do not require updated files to be posted and reviewed by 
			other groups, please add only a comment expressing your concerns.
	    </p>
	</div>
<% end %>


<tr>
  <td>

    <% if @design_review.in_review? && !@design_review.design.fir_complete? && @design_review.is_release_review? %>
      <b>
        Not accepting results until all FIRs have been completed.<br />
        Please submit comments to provide any additional feedback.
      </b>

    <% elsif @design_review.in_review? %>
    
     <b>To change the status of an already submitted review click on "Completed", 
         select desired status for each review, 
         and then click on "Submit Comments and/or Review Results". Reviews whose status did not change will not get reprocessed</b>
     <br><br>
     
     <b>Show Reviews:</b>    

      <input type="button" value="All" id="showAllReviews" />
      <input type="button" value="Incomplete" id="showIncompleteReviews" />
      <input type="button" value="Completed" id="showCompletedReviews" />
                 
      <table class="reviewsTable" width="100%" border="0" rules="all">
        <thead>
            <tr class="th1">
              <th>Role</th>
              <th>APPROVE</th>
              <th>WAIVE</th>
              <th>REJECT</th>
              <th>COMMENT<br/>ONLY</th>
              <th>RESET<br>STATUS TO<br>NO RESPONSE</th>
            </tr>
        </thead>
        <tbody>
            <% for review_result in @my_review_results %>
                <% if review_result.result != "No Response" %>
                    <tr class="completeReview">
                        <th class="th1"><%= review_result.role.display_name %></th>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "APPROVED", 
                                 if(review_result.result == "APPROVED") then true end %>
                        </td>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "WAIVED", 
                                 if(review_result.result == "WAIVED") then true end %>
                        </td>
                        <td align="center" >
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "REJECTED", 
                                  if(review_result.result == "REJECTED") then true end, :class => "reject" %>
                        </td>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "COMMENTED", 
                                  if(review_result.result == "COMMENTED") then true end %>
                        </td>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "No Response" %>
                        </td>
                    </tr>
                <% else %>
                    <tr class="incompleteReview">
                        <th class="th1"><%= review_result.role.display_name %></th>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "APPROVED", 
                                 if(review_result.result == "APPROVED") then true end %>
                        </td>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "WAIVED", 
                                 if(review_result.result == "WAIVED") then true end %>
                        </td>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "REJECTED", 
                                 if(review_result.result == "REJECTED") then true end, :class => "reject" %>
                        </td>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "COMMENTED", 
                                if(review_result.result == "COMMENTED") then true end %>
                        </td>
                        <td align="center">
                            <%= radio_button_tag "role_id_#{review_result.role.id}[#{review_result.id}]", "No Response" %>
                        </td>
                    </tr>                    
                <% end %>
            <% end %>
        </tbody>
      </table>

    <% elsif @design_review.on_hold? %>
      <b>
        Not accepting results while the review is on hold.<br />
        Please submit comments to provide any additional feedback.
      </b>
    <% elsif @design_review.pending_repost? %>
      <b>
        Not accepting results until the designer reposts.<br />
        Please submit comments to provide any additional feedback.
      </b>
    <% end %>
  </td>
</tr>

<% if pre_art_pcb(@design_review, @my_review_results) %>

  <% design_info = get_design_info(@design_review.design) %>

  <tr><td><hr class="div" /></td></tr>

  <tr>
    <td>
      <table border="0">
        <tr>
          <th align="left"> Verify Criticality:</th>
          <td align="left">
            <select id="priority" name="priority[id]">
              <%= options_from_collection_for_select(@priorities,
                :id,
                :name,
                design_info[:priority_id]) %>
            </select>
          </td>
        </tr>
        <tr>
          <th align="right">Designer:</th>
          <td align="left">
            <select id="designer"
                    name="designer[id]"
                    class="name_select">
              <option value="">Please select</option>
              <%= options_from_collection_for_select(@designers,
                :id,
                :last_name_first,
                @design_review.design.designer_id) %>
            </select>
          </td>
        </tr>
        <% if !@design_review.design.audit.skip? %>
          <tr>
            <th align="right">Peer:</th>
            <td align="left">
              <select id="peer" name="peer[id]" class="name_select">
                <option value="">Please select</option>
                <%= options_from_collection_for_select(@designers,
                  "id",
                  "last_name_first",
                  @design_review.design.peer_id) %>
              </select>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>

  <tr><td><hr class="div" /></td></tr>

<% end %>

<% if (@my_review_results.find { |rr| rr.role.name == "SLM-Vendor"}) %>
  <% design_info = get_design_info(@design_review.design) %>

  <tr><td><hr class="div" /></td></tr>

  <tr>
    <td>
      <%= render :partial => "fab_vendor_selections" %>
    </td>
  </tr>

  <tr><td><hr class="div" /></td></tr>

<% end %>
