<!-- View:    design_review                                     -->
<!-- Purpose: Displays the details for a design review.         -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<table border="0" width="100%">
  <tr>
    <td class="th1">PCB Part Number/Description:</td>
    <td> 
        <%= @design_review.design.pcb_number_with_description %>
    </td>
    <td class="th1">PCBA Part Number(s)/Description(s):</td>
    <td><%= @design_review.design.pcbas_string.html_safe %></td>
  </tr>
  <tr>
    <td class="th1">PCB ECN Number:</td>
    <td><% if @design_review.design.eco_number != '' %>
          <%=@design_review.design.eco_number%>
        <%else%>
            <b><font color="red">Not Set</font></b>
        <% end %>
     </td>
    <td class="th1">PCBA ECN Number:</td>
    <td><% if @design_review.design.pcba_eco_number != '' %>
          <%=@design_review.design.pcba_eco_number%>
        <!-- If preart posted before 1/22/15(1421884800) and this is not a bare board then display pcb ecn. This is date pcba's started having their own ecn -->
        <%elsif ((@preart_des_review_post_date < 1421884800) && @haspcba) %>
           <%=@design_review.design.eco_number%>
        <%else%>
            <b><font color="red">Not Set</font></b>
        <% end %>
     </td>    
  </tr>
  <tr>
    <td class="th1">Revision:</td>
    <td> <%= @design_review.design.pcb_rev %></td>
   </tr>
  <tr>
    <td class="th1">Platform/Project:</td>
    <td colspan="3">
      <%= @design_review.design.board.platform.name %> /
      <%= @design_review.design.board.project.name %> 
    </td>
  </tr>
  <tr>
    <%  if @design_review.review_type.name == "Pre-Artwork" %>
       <td class="th1">Poster:</td>
       <td><%= @design_review.design.input_gate.name %>
    <% else %>
      <td class="th1">Designer:</td>
      <td><%= @design_review.designer.name %>
    <%  end %>
    <td class="th1">PCB Design Data:</td>
    <td>
      <% if @design_review.design.design_center %>
        <%= link_to(@design_review.design.design_center.name,
          design_center_path(@design_review),
          :popup => true) %>
      <% else %>
        <b>Not Set</b>
      <% end %>
      <% if @design_review.design.design_center.pcb_path.eql? DesignCenter.buffalo_grove_archive.pcb_path %>
      	(Requires Internet Explorer)
      <% end %>
      <br>
      (<b>Eng Dir: </b>
      <% if @brd_dsn_entry && @brd_dsn_entry.design_directory %>
        <%=  @brd_dsn_entry.design_directory.name %>
      <% else %>
        XXX
      <% end %>
      )
    </td>
  </tr>
  <tr>
    <td class="th1">Criticality:</td>
    <td><%= @design_review.priority.name %></td>
    <td class="th1">Review Type:</td>
    <td><%= @design_review.review_name %></td>
  </tr>
  <tr>
    <td class="th1">Status:</td>
    <td><%= @design_review.review_status.name %></td>
    <td class="th1">Total Days On Hold:</td>
    <td><%= sprintf("%4.1f", @design_review.time_on_hold_total.to_f / 1.day) %></td>
  </tr>

  <% if @design_review.on_hold? %>
    <tr>
      <td class="th1">Placed On Hold:</td>
      <td><%= @design_review.placed_on_hold_on.format_dd_mon_yy('timestamp') %></td>
      <td class="th1">Days On Hold:</td>
      <td><%= sprintf("%4.1f", @design_review.time_on_hold.to_f / 1.day) %></td>
    </tr>
  <% end %>

  <tr>
    <td class="th1">Posting Number:</td>
    <td><%= @design_review.posting_count %></td>
    <% if @design_review.posting_count > 0 %>
      <td class="th1">Originally Posted:</td>
      <td>
        <%= @design_review.created_on.format_dd_mon_yy('timestamp') %>
      </td>
    <% end %>
  </tr>
  <tr valign="top">
    <% if @design_review.design.fab_houses.size == 0 %>
      <td class="th1" colspan="2">No Fab House Selected</td>
    <% else %>
      <% if @design_review.design.fab_houses.size == 1 %>
        <td class="th1">Fab House:</td>
      <% else %>
        <td class="th1">Fab Houses:</td>
      <% end %>
      <td>
          <%= raw @design_review.design.fab_houses.map { |f|  h f.name}.join('<br />') %>
      </td>
    <% end %>

    <% if @design_review.posting_count > 0 %>
      <td class="th1">Last Posted:</td>
      <td>
        <%= @design_review.reposted_on.format_dd_mon_yy('timestamp') %>
      </td>
    <% end %>
  </tr>
  <tr valign="top">
    <% unless ( @design_review.design.ftp_notification.blank? ||
       @design_review.design.ftp_notification.created_at.blank? ) %>
      <td class="th1">FTP Date:</td>
      <td>
        <%= @design_review.design.ftp_notification.created_at.format_dd_mon_yy('timestamp') %>
      </td>
    <%  else %>
      <td>&nbsp;</td><td>&nbsp;</td>
    <% end %>
    <% if ( ! @design_review.completed_on.blank?) %>
      <td class="th1">Completion Date:</td>
      <td><%= @design_review.completed_on.format_dd_mon_yy('timestamp') %>
    <% else %>
      <td>&nbsp;</td><td>&nbsp;</td>
    <% end %>
  </tr>
  <tr>
  	<td class="th1" >FIR Emails:</td>
  	<td><%= link_to("http://k2.corp.teradyne.com/Mail/Supportb.nsf", "http://k2.corp.teradyne.com/Mail/Supportb.nsf") %></td>
  </tr>
  <tr>
  	<td class="th1" >All FIRs Complete:</td>
  	<% if @design_review.design.fir_complete %>
  		<td style="color:green;font-weight:bold;">True</td>
		<% else %>
  		<td style="color:red;font-weight:bold;">False</td>
		<% end %>
  </tr>
</table>

