<!-- View:    review_attachments                                -->
<!-- Purpose: Displays a design review for a designer.          -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "Add Attachment - #{@design_review.design.directory_name}" %>

<% if @document.errors.any? %>
  <ul>
  <% @document.errors.full_messages.each do |msg| %>
    <li><%= msg %> </li>
  <% end %>
  </ul>
<% end %>

<%= form_tag({:action    => 'save_attachment', 
             :id        => @board.id,
             :return_to => params[:return_to]}, 
             :multipart => true ) do %>

  <%= hidden_field "board", "id" %>
  <%= hidden_field "design_review", "id" %>

  <hr class="div" />

  <table border="0"
         width="90%"
         align="center">
    <tr>
      <th align="right">Filename:</th>
      <td><%= file_field('document', 'document') %></td>
    </tr>
    <tr>
      <th align="right">Type:</th>
      <td>
        <%= collection_select(:document_type,
                              :id,
                              @document_types,
                              :id,
                              :name,
                              {:prompt => true}) %>
      </td>
    </tr>

    
  </table>

  <hr class="div" />

  <input type="submit" value="Upload File" />
  <% if params[:return_to] == 'initial_attachments' %>
    <input type="button" value="Cancel" 
           onClick="parent.location='<%= url_for(:controller => 'design',
                                                 :action     => 'initial_attachments',
                                                 :design_id  => @design_review.design_id) %>'" />
  <% else %>
    <input type="button" value="Cancel" 
           onClick="parent.location='<%= url_for(:action => 'review_attachments', 
                                                 :id => @design_review.id) %>'" />
  <% end %>

  <% end %>

<%# debug params %>

