<!-- View:    perform ftp notification                          -->
<!-- Purpose: Displays a form to build and sent the ftp         -->
<!--          notification                                      -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->


<% @heading = 'FTP Notification for the  ' +
              @design.pcb_number %>

<%= form_tag(:action => 'send_ftp_notification', :id => @design.id) do %>
  
  <table class="nav_table">

    <tr>
      <td align="left">
          <input class="form_return" type="button" value="Do Not Send the FTP Notification" 
                 onClick="parent.location='<%= url_for( :controller => 'tracker', :action => 'index' ) %>'" />
      </td>
      <td align="right">
        <input class="form_submit" type="submit" value="Send the FTP Notification" />
      </td>
    </tr>
  </table>

  <hr class='div' />
  
  <h2>FTP Notification Details</h2>

  <table align="center" border="0" width="600">

    <!---------------------------------------------------------------------->
    <!-- Assembly/BOM Number                                              -->
    <!---------------------------------------------------------------------->
    <tr>
      <th align="right" width="250" class="teraheader">Assembly/BOM Number:</th>
      <td>
        <%= text_field("ftp_notification", "assembly_bom_number", :size=>"40") %>
      </td>
    </tr>

    <!---------------------------------------------------------------------->
    <!-- File size, date, and name                                        -->
    <!---------------------------------------------------------------------->
    <tr>
      <th align="right" class="teraheader">File Size, Date, and Name:</th>
      <td>
        <%= text_field("ftp_notification", "file_data", :size=>"40") %>
      </td>
    </tr>

    <!---------------------------------------------------------------------->
    <!-- Division                                                         -->
    <!---------------------------------------------------------------------->
    <tr>
      <th align="right" class="teraheader">Division:</th>
      <td>
        <select id="ftp_notification" name="ftp_notification[division_id]" class="name_select">
          <option value="0">Please Select the Division</option>
          <%= options_from_collection_for_select(@divisions, 
                                                 "id", 
                                                 "name",   
                                                 @ftp_notification.division_id) %>
        </select>
      </td>
    </tr>

    <!---------------------------------------------------------------------->
    <!-- Design File Location                                             -->
    <!---------------------------------------------------------------------->
    <tr>
      <th align="right" class="teraheader">Design File Location:</th>
      <td>
        <select id="ftp_notification" name="ftp_notification[design_center_id]" class="name_select">
          <option value="0">Please Select the Design File Location</option>
          <%= options_from_collection_for_select(@design_centers, 
                                                 "id", 
                                                 "name",
                                                 @ftp_notification.design_center_id) %>
        </select>
      </td>
    </tr>

    <!---------------------------------------------------------------------->
    <!-- Vendor                                                           -->
    <!---------------------------------------------------------------------->
    <tr>
      <th align="right" class="teraheader">Vendor:</th>
      <td>
        <select id="ftp_notification" name="ftp_notification[fab_house_id]" class="name_select">
          <option value="0">Please Select the Vendor</option>
          <%= options_from_collection_for_select(@fab_houses,
                                                 "id",
                                                 "name", 
                                                 @ftp_notification.fab_house_id.to_i) %>
        </select>
      </td>
    </tr>

  </table>

  <hr class="div" />
  <%= render( :partial => "shared/display_mail_lists",
              :locals  => { :design_id        => @design.id,
                            #:design_review_id => @design_review.id,
                            :url => url_for(:action => "change_cc_list",
                                            :controller => "design"  )
                          }) %>
 
  <hr class="div" />
 
<% end %>

<%# debug @divisions %>
<%# debug @design_review.design.board_design_entry.division_id %>
<%# debug @design_centers %>
<%# debug @design_review.design_center_id %>
<%# debug @fab_houses %>
<%# debug @ftp_notification %>
