<!-- View:    review_attachments                                -->
<!-- Purpose: Displays a design review for a designer.          -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% doc_type = DocumentType.find(@existing_drd.document_type_id).name %>
<% @heading = "Update #{doc_type} Document - #{@design_review.design.directory_name}" %>

<% if @drd.errors.any? %>
  <ul>
  <% @drd.errors.full_messages.each do |msg| %>
    <li><%= msg %> </li>
  <% end %>
  </ul>
<% end %>

<%= form_tag({ :action    => 'save_update', 
              :id        => @design_review.design.board.id, 
              :doc_id    => @existing_drd.id,
              :return_to => params[:return_to] },
              :multipart => true ) do %>

  <%= hidden_field "board",         "id" %>
  <%= hidden_field "design_review", "id" %>
  <%= hidden_field "document_type", "id" %>

  <hr class="div" width="1000"/>


  <table border="0"
         width="800"
         align="center">
    <tr class="file_select_row" valign="top" >
      <th align="right" width:"200" class="teraheader">
      	<%= label_tag "Filename" %>:&nbsp;
      </th>
      <td>
      	<%= file_field('document', 'document') %>
  	  </td>
    </tr>
  </table>

  <hr class="div" width="1000"/>

  <table width="900" border="0" align="center">
    <tr>
      <td align="center">
  		<input id="uploadfile" type="submit" value="Upload File" />
	  </td>	
  	  <td align="center">
	    <% if params[:return_to] == 'initial_attachments' %>
	      <input type="button" value="Cancel" 
	             onClick="parent.location='<%= url_for(:controller => 'design',
	                                                   :action     => 'initial_attachments',
	                                                   :design_id  => @design_review.design_id) %>'" />
	    <% else %>
	      <%= link_to("Cancel", review_attachments_design_review_path(@design_review.id)) %>
	    <% end %>
	  </td>
	</tr>
  </table>
  <hr class="div" width="1000"/>
 <% end %>

<%# debug params %>
<%# debug @design_review %>


