<!-- View:    tracker:index                                           -->
<!-- Purpose: Displays the tracker home page.                   -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @title = "PCB Design Board/Data Tracker" %>
<!--% debug session %-->

<h1 align="center">Welcome to the PCB Design Tracker</h1>

<table width="100%" border="0" cellspacing="2" align="center">
  <tr valign="top">

    <!-- Left column - navigation links -->
    <td width="15%">
        <%= render(:partial => 'tracker_navigation') %>
    </td>

    <!-- Right column - home body -->
    <td align="center">
      <h1>Active Designs</h1>
      <table class="sortable" id="anyid" border="1" cellspacing="0" cellpadding="1">

        <tr align="center">
          <th>PCBA Number</th>
          <th>PCB Number</th>
          <th>Name</th>
          <th>Phase</th>
          <th>Review Status</th>
        </tr>


        <% @pcbas.each do |pcba|
          design = Design.find(:first, :conditions => {:id => pcba.design_id})
          design_review = design.get_phase_design_review
        %>
          <tr>
            <td align="center"> <%= pcba.name_string %></td>
            <td align="center"> <%= design.pcb_number %></td>
            <td> &nbsp;<%= design.board.project.name + " / " +design.board.description %> </td>
            <td align="center"> <%= link_to(design.phase.name,
                             { :controller => 'design_review',
                               :action     => :view,
                               :id         => design_review.id })%>
            <td align="center"> <%= design_review.review_status.name %></td>
          </tr>
        <% end %>

      </table>
    </td>
  </tr>


</table>

<%# debug @design_list %>
<%# #bug @designs %>
