<!-- View:    tracker:manager_home                                           -->
<!-- Purpose: Displays the tracker home page.                   -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @title = "PCB Design Board/Data Tracker" %>
<!--% debug session %-->

<br />
<table width="100%" border="0" cellspacing="2" align="center" rules="cols">
  <tr valign="top">

    <!-- Left column - navigation links -->
    <td width="15%">
        <%= render(:partial => 'tracker_navigation') %>
    </td>

    <!-- Right column - home body -->
    <td>
      <table width="100%"
             border="0">
        <tr>
          <td>
            <table width="100%" 
                   align="left" 
                   border="0"
                   cellspacing="0">
    	        <tr>
                <th colspan="10"
                    class="teraheader">
                  <font color="#ffffff">Active Reviews</font>
                </th>
              </tr>
              <tr>
                <th align="left" valign="bottom" colspan=2>
                  <%= link_to('PCB Part Number Rev',
                              {:action => 'manager_list_by_design',
                               :order  => @sort_order[:design]},
                              :title => 'Toggle list order by design name.') %>
                </th>
                <th align="left" valign="bottom" width="85">
                  <%= link_to('Criticality',
                              {:action => 'manager_list_by_priority',
                               :order  => @sort_order[:priority]},
                              :title => 'Toggle list order by criticality.') %>
                </th>
                <th align="left" valign="bottom">
                  <%= link_to('Posted By',
                              {:action => 'manager_list_by_designer',
                               :order  => @sort_order[:designer]},
                              :title => 'Toggle list order by designer.') %>
                </th>
                <th align="left" valign="bottom">
                  <%= link_to('Peer',
                              {:action => 'manager_list_by_peer',
                               :order  => @sort_order[:peer]},
                              :title => 'Toggle list order by peer auditor.') %>
                </th>
                <th align="left" valign="bottom">
                  <%= link_to('Type',
                              {:action => 'manager_list_by_type',
                               :order  => @sort_order[:type]},
                              :title => 'Toggle list order by review type.') %>
                </th>
                <th align="left" valign="bottom">
                  <%= link_to('Status',
                              {:action => 'manager_list_by_status',
                               :order  => @sort_order[:status]},
                              :title => 'Toggle list order by status.') %>
                </th>
                <th align="left" valign="bottom">
                  <%= link_to('Age',
                              {:action => 'manager_list_by_age',
                               :order  => @sort_order[:date]},
                              :title  => 'Toggle list order by age in workdays.') %>
                </th>
                <th valign="bottom" class="th1">Reviews<br />Approved</th>
              </tr>
              
              <%= render( :partial    =>"manager_home_list_stripes",
                          :collection => @active_reviews) %>

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>
      <table width="100%"
             border="0">
        <tr>
          <td>
            <table width="100%" 
                   align="left" 
                   border="0"
                   cellspacing="0">
    	        <tr>
                <th colspan="9"
                    class="teraheader">
                  <font color="#ffffff">Active Boards (Reviews Not Started)</font>
                </th>
              </tr>
              <tr class="th1">
                <th align="left" valign="bottom">PCB Part Number Rev</th>
                <th align="left" valign="bottom" width="85">Criticality</th>
                <th align="left" valign="bottom">Posted By</th>
                <th align="left" valign="bottom">Peer</th>
                <th align="left" valign="bottom">Type</th>
                <th align="left" valign="bottom">Status</th>
              </tr>
              
              <%= render( :partial    => "manager_home_list_inactive_stripes",
                          :collection => @inactive_reviews) %>

            </table>
          </td>
        </tr>
      </table>
    </td>


  </tr>
</table>

<%# debug @design_reviews %>
<%# debug @sort_order %>
<%# debug flash %>
