<!-- View:    tracker:message_broadcast                                          -->
<!-- Purpose: Displays a form to prompt for an email message.  -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "PCB Design Track - Message Broadcast" %>

<%= form_tag(:action => 'deliver_broadcast_message') do %>

	<table border='0' align="center" width="800">
	  <tr>
	    <td align="left">
	      <input type="button" value="Admin Portal" 
	        onClick="parent.location='<%= url_for( :controller => 'admin', :action => 'index') %>'" />
	    </td>
	    <td align="center">
	      <input type="button" value="Home" 
	        onClick="parent.location='<%= url_for( :controller => 'tracker', :action => 'index') %>'" />
	    </td>
	    <td align="right">
	      <input type="submit" value="Send Message" />
	    </td>
	  </tr>
	</table>

	
	<hr class="div" width="820" />


	<table border='0' align="center" width="800">
	  <tr valign="top">
	    <td class='th1'>Subject:</td>
	    <td>
	      <%= text_field("mail", "subject", :size => 80, :value => @subject) %>
	    </td>
	  </tr>
	  <tr valign="top">
	    <td class='th1'>Message:</td>
	    <td>
	      <textarea cols="80" rows="10" id="mail_message" name="mail[message]"><%= @message %></textarea>
	    </td>
	  </tr>
	</table>

	
	<hr class="div" width="820" />


	<table border='0' align="center" width="800">
	  <tr valign="top">
	    <td class='th2' width="120">Select roles to send message to all users with that role. Alternatively you can select a users name.</td>
	  </tr>
	  <tr valign="top">
	    <td class='th2' width="120">NOTE: A user will receive a single email even if they appear multiple times in list.</td>
	  </tr>
	</table>

	<br />

	<div id='selectopts'>
		<a href='#' id='select-all'>select all</a>
		/
		<a href='#' id='deselect-all'>deselect all</a>
	</div>

	<br />

	<%= grouped_collection_select(:role, :user_id, @active_roles, :group_select_active_users, :display_name, :specialid, :last_name_first, {}, {include_blank: false, multiple: true, id: "optgroup"})  %>

	<br />


	<hr class="div" width="820" />
	
	
	<table border='0' align="center" width="800">
	  <tr>
	    <td align="left">
	      <input type="button" value="Admin Portal" 
	        onClick="parent.location='<%= url_for( :controller => 'admin', :action => 'index') %>'" />
	    </td>
	    <td align="center">
	      <input type="button" value="Home" 
	        onClick="parent.location='<%= url_for( :controller => 'tracker', :action => 'index') %>'" />
	    </td>
	    <td align="right">
	      <input type="submit" value="Send Message" />
	    </td>
	  </tr>
	</table>
	
<% end %>


