<!-- View:    tracker                                           -->
<!-- Purpose: Displays the tracker home page.                   -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @title = "PCB Design Board/Data Tracker" %>
<%# debug session %>

<table width="100%"
       border="0" 
       cellspacing="2"
       align="center"
       rules="cols">
  <tr>
    <td width="155" valign="top" rowspan="2">
      <table align="center" rules="rows" cellpadding="5" border="0">
        <tr>
          <td align="center">
            <%= link_to("All Boards",
                        { :controller => 'board', :action => 'show_boards' },
                        :title => 'Access to all boards') %>
          </td>
        </tr>
        
        <tr>
          <td align="center">
            <%= link_to("Board Search",
                        { :controller => 'board', :action => 'search_options' },
                        :title => 'Search boards by designer, project, platform, and phase') %>
          </td>
        </tr>
        
        <%= render(:partial => 'pcb_engineering_entry') %>
        
        <tr>
          <td align="center">
            <%= link_to("Reviewer Workload",
                        { :controller => 'report',
                          :action     => 'reviewer_workload' }) %>
          </td>
        </tr>

      </table>
    </td>

    <td>
      <table border="0" width="100%">
        <tr>
          <td>
            <%= render( :partial    => 'reviewers_list',
                        :locals     => { :title   => "My Unprocessed Reviews",
                                         :reviews => @my_unprocessed_reviews }) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= render( :partial    => 'reviewers_list',
                        :locals     => { :title   => "My Processed Reviews",
                                         :reviews => @my_processed_reviews }) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table border="0" width="100%">
        <tr>
          <td>
            <table align="left" border="0" cellspacing="0" width="100%">
      	      <tr>
                <th colspan="8" class="teraheader">
                  Other Reviews
                </th>
              </tr>

              <% if @reviews_assigned_to_peers.size > 0 %>
                <tr class="subheading">
                  <th align="left" width="60">&nbsp;</th>
                  <th align="l@my_unprocessed_reviews@my_unprocessed_reviewseft" width="160">PCB Part Number Rev</th>
                  <th align="left" width="100">Type</th>
                  <th align="left" width="70">Status</th>
                  <th align="l@my_unprocessed_reviewseft" width="140">Posted By</th>
                  <th align="left" width="45" title="Age in work days">Age</th>
                </tr>
                <%= render( :partial    => 'reviewer_home_list_stripes',
                            :collection => @reviews_assigned_to_peers,
                            :locals     => { :my_reviews => false } )%>
              <% else %>
                <tr>
                  <th>
                    None
                  </th>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%# debug session %>
<%# debug @my_reviews %>
<%# debug @other_reviews %>
