<!-- View:    tracker                                           -->
<!-- Purpose: Displays the tracker home page.                   -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @title = "PCB Design Board/Data Tracker" %>
<%# debug session %>

<table width="100%"
       border="0" 
       cellspacing="2"
       align="center"
       rules="cols">
  <tr>
    <td width="155" valign="top" rowspan="2">
      <table align="center" rules="rows" cellpadding="5" border="0">
        <tr>
          <td align="center">
            <%= link_to("All Boards",
                        { :controller => 'board', :action => 'show_boards' },
                        :title => 'Access to all boards') %>
          </td>
        </tr>
        
        <tr>
          <td align="center">
            <%= link_to("Board Search",
                        { :controller => 'board', :action => 'search_options' },
                        :title => 'Search boards by designer, project, platform, and phase') %>
          </td>
        </tr>
        
        <%= render(:partial => 'pcb_engineering_entry') %>
        
        <tr>
          <td align="center">
            <%= link_to("Reviewer Workload",
                        { :controller => 'report',
                          :action     => 'reviewer_workload' }) %>
          </td>
        </tr>

      </table>
    </td>

    <td>
      <table border="0" width="100%">
        <tr>
          <td>
            <%= render( :partial    => 'reviewers_list',
                        :locals     => { :title   => "My Unprocessed Reviews",
                                         :reviews => @my_unprocessed_reviews }) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= render( :partial    => 'reviewers_list',
                        :locals     => { :title   => "My Processed Reviews",
                                         :reviews => @my_processed_reviews }) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>

<%# debug session %>
<%# debug @my_reviews %>
<%# debug @other_reviews %>
