
<h1><%= "FIR Metrics - " +  @quarter.capitalize + " Quarter " + Time.now.strftime("%Y") %></h1>

<div id="ie8_required_div" style="display:none">
	<p class="ie8_note">
	  <%= "FIR Metrics requires  IE9+ or an Alternate Browser!" %>
	</p>
</div>

<br>
<div id="fir_metrics_tabs">
	<ul>
		<li><%= link_to "Quarterly History", "#fir_metrics_tab-1" %></li>
		<li><%= link_to "1q15", "#fir_metrics_tab-2" %></li>
		<li><%= link_to "Board Data", "#fir_metrics_tab-3" %></li>
		<li><%= link_to "Documentation Issues", "#fir_metrics_tab-4" %></li>
		<li><%= link_to "Clarrification Issues", "#fir_metrics_tab-5" %></li>
	</ul>

	<div id="fir_metrics_tab-1">
<div class="splitcontentleft" >
	<p class="firChartTitle" >
		<%= "FAB Issue Report - Quarterly Status" %>
	</p>
	<div id="firQuartersChartBox" class="firQuartersChartBox" >
		<div id="firQuartersChart" class="firQuartersChart" ></div>							
	</div>
	<script>
		fir_quarts = <%= raw @fir_quarterly_history %>;
    chart = new cfx.Chart();
		document.ready = FirQuartersChart(fir_quarts, chart);
	</script>
	<p>
		NOTES: 
		<ul>
			<li>All sums are for FTP'd designs within stated quarter</li>
			<li>Documentation Issues/Pins - Sum of documentation issues for Production(New) designs divided by pin count</li>
			<li>Clarification Issues/Pins - Sum of clarification issues for Production(New) designs divided by pin count</li>
			<li>Designs FTPd - Sum of designs FTP'd</li>
			<li>Designs w/Documentation Issues - Sum of designs that had at least one documentation issue</li>
			<li>Designs w/Clarification Issues - Sum of designs that had at least one clarification issue</li>
		</ul>
	</p>
</div>
		<div class="splitcontentright" >
			<div class="fir_table" >
				<p class="fir_table_title" >1Q15 - Designs w/o Doc Change FIR's</p>
				<p class="fir_table_title_note" >(First Revision, Production, not a "Make From" or Eng)</p>
				<table class="fir_table" >
					<tr>
						<th>Board</th>
						<th>Designer</th>
						<th>Project</th>
						<th>Pins</th>							
					</tr>
					<% @prod_des_wo_doc_changes.each do |p| %>
						<tr>
							<td><%= p[:part_number] %></td>
							<td><%= p[:designer] %></td>
							<td><%= p[:project] %></td>
							<td><%= p[:pins] %></td>							
						</tr>
					<% end %>
				</table>
			</div>
			<br>
			<div class="fir_table" >
				<p class="fir_table_title" >1Q15 - Designs w/o Doc Change FIR's</p>
				<p class="fir_table_title_note" >(Revisions, Engineering, Make Froms, Bareboard Only)</p>
				<table class="fir_table" >
					<tr>
						<th>Board</th>
						<th>Designer</th>
						<th>Project</th>
					</tr>
					<% @des_wo_doc_changes.each do |p| %>
						<tr>
							<td><%= p[:part_number] %></td>
							<td><%= p[:designer] %></td>
							<td><%= p[:project] %></td>
						</tr>
					<% end %>
				</table>
			</div>
			<br>
			<div class="fir_table" >
				<p class="fir_table_title" >1Q15 Summary</p>
				<table class="fir_table" >
					<tr>
						<td>Total Pins (New Prod Type Only)</td>
						<td><%= @design_sum[:pintotal] %></td>
					</tr>
					<tr>
						<td>Documentation Issues/Pins</td>
						<td><%= @design_sum[:doc_iss_pins_total] %></td>
					</tr>
					<tr>
						<td>Clarification Issues/Pins</td>
						<td><%= @design_sum[:clar_iss_pins_total] %></td>
					</tr>
					<%- fir_quarterly_history = JSON.parse(@fir_quarterly_history) %>
					<tr>
						<td>Designs FTP'd (All Types Combined)</td>
						<td><%= fir_quarterly_history.last["Designs FTPd"]  %></td>
					</tr>
					<tr>
						<td>Designs with Documentation Issues</td>
						<td><%= fir_quarterly_history.last["Designs w/Documentation Issues"]  %></td>
					</tr>
					<tr>
						<td>Designs with Clarification Issues</td>
						<td><%= fir_quarterly_history.last["Designs w/Clarification Issues"]  %></td>
					</tr>
					<tr>
						<table>
							<tr>
								<td>
									<%= image_tag(@fab_quarterly_status.image_name, :size => "80x80") rescue "" %>
								</td>
								<td>
									<%= parse_post(@fab_quarterly_status.status_note).html_safe rescue ""  %>
								</td>
							</tr>
						</table>
					</tr>
				</table>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>

	<div id="fir_metrics_tab-2">
		<div id="issuesPinsChart" class="issuesPinsChart" >
			<p class="firChartTitle" >
				<%= "Issues/Pins (%) by Board" %>
			</p>
			<div id="firIssuesPinsChart" class="firIssuesPinsChart" >
			</div>
			<script>
				fir_issues_pins = <%= raw @fir_pins_brds.to_json %>;
	      chart = new cfx.Chart();
				document.ready = FirIssuesPinsChart(fir_issues_pins, chart);
			</script>
		</div>

		<div id="deliverableChart" class="deliverableChart" >
			<p class="firChartTitle" >
				<%= "Fabrication Issues Sorted by Deliverable for All Types of Designs" %>
			</p>
			<div id="firDeliverableChart" class="firDeliverableChart" >
			</div>
			<script>
				fir_deliverables = <%= raw @fab_iss_deliverable.to_json %>;
	      chart = new cfx.Chart();
				document.ready = FirDeliverableChart(fir_deliverables, chart);
			</script>
		</div>
	
		<div id="drawingChart" class="drawingChart" >
			<p class="firChartTitle" >
				<%= "Fabrication Drawing Issues Sorted by Drawing Part for All Types of Designs" %>
			</p>
			<div id="firDrawingChart" class="firDrawingChart" >
			</div>
			<script>
				fir_iss_drawing = <%= raw @fab_iss_drawing.to_json %>;
	      chart = new cfx.Chart();
				document.ready = FirDrawingChart(fir_iss_drawing, chart);
			</script>
		</div>

		<div id="modeChart" class="modeChart" >
			<p class="firChartTitle" >
				<%= "Fabrication Issues Sorted by Failure Mode for All Types of Designs" %>
			</p>
			<div id="firModeChart" class="firModeChart" >
			</div>
			<script>
				fir_modes = <%= raw @fab_iss_mode.to_json %>;
	      chart = new cfx.Chart();
				document.ready = FirModeChart(fir_modes, chart);
			</script>
		</div>
	</div>

	<div id="fir_metrics_tab-3">
		<table  id="fir_board_data_table" class="display" cellspacing="0" width="100%">
		  <thead>
				<tr>
					<th class="fir_col_width" >Part #</th>
					<th>Pins</td>
					<th>Board Type</td>
					<th class="fir_col_width" >FTP</th>
					<th>Vendor Issues Rcvd</th>
					<th class="fir_col_width" >Vend Iss Rcvd</th>
					<th>Vend Iss Closed</th>
					<th>Cleanup Reqd</th>
					<th>Cleanup Complete</th>
					<th>Documentation Issues</th>
					<th>Documentation Issues/Pins</th>
					<th>Clarification Issues</th>
					<th>Clarifications Issues/Pins</th>
				</tr>
		  </thead>
		  <tbody>
				<% @ftps.each do |ftp| %>
				<tr>
					<td><%= ftp[:part_num] %></td>
					<td><%= ftp[:pins] %></td>
					<td><%= ftp[:brd_type] %></td>
					<td><%= ftp[:ftp_date] %></td>
					<td><%= ftp[:vend_iss_rcvd] %></td>
					<td><%= ftp[:date_vend_iss_rcvd] %></td>
					<td><%= ftp[:date_vend_iss_closed] %></td>
					<td><%= ftp[:cleanup_reqd] %></td>
					<td><%= ftp[:date_cleanup_comp] %></td>
					<td><%= ftp[:num_doc_issues] %></td>
					<td><%= ftp[:doc_iss_pins] %></td>
					<td><%= ftp[:num_clar_issues] %></td>
					<td><%= ftp[:clar_iss_pins] %></td>
				</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<th><%= @design_sum[:total] %></th>
					<th><%= @design_sum[:pintotal] %></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th><%= @design_sum[:doctotal] %></th>
					<th><%= @design_sum[:doc_iss_pins_total] %></th>
					<th><%= @design_sum[:clartotal] %></th>
					<th><%= @design_sum[:clar_iss_pins_total] %></th>
				</tr>
			</tfoot>
		</table>
	</div>
		
	<div id="fir_metrics_tab-4">
		<table id="fir_doc_issues_table" class="display">
		  <thead>
				<tr>
					<th>Deliverable</th>
					<th class="fir_col_width" >Board</th>
					<th>Issue</th>
					<th>Cause</th>
					<th>Resolution</th>
					<th class="fir_col_width" >Failure Mode</th>
				</tr>
		  </thead>
		  <tbody>
				<% @doc_firs.each do |f| %>
					<tr>
						<td><%= f.fab_deliverable.parent_id ? f.fab_deliverable.parent.name : f.fab_deliverable.name %></td>
						<td><%= PartNum.get_design_pcb_part_number(f.design_id).name_string  %></td>
						<td><%= f.description %></td>
						<td><%= f.cause %></td>
						<td><%= f.resolution %></td>
						<td><%= f.fab_failure_mode.name rescue "" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
		
		
	<div id="fir_metrics_tab-5">
		<table id="fir_clar_issues_table" class="display">
		  <thead>
				<tr>
					<th>Deliverable</th>
					<th class="fir_col_width" >Board</th>
					<th>Issue</th>
					<th>Cause</th>
					<th>Resolution</th>
				</tr>
		  </thead>
		  <tbody>
				<% @clr_firs.each do |f| %>
					<tr>
						<td><%= f.fab_deliverable.name %></td>
						<td><%= PartNum.get_design_pcb_part_number(f.design_id).name_string  %></td>
						<td><%= f.description %></td>
						<td><%= f.cause %></td>
						<td><%= f.resolution %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>



