<%= stylesheet_link_tag "report.css" %>

<h1>Review Approval Time</h1>

<%= form_tag do %>
<table><tr>
	<td><%=@data.count%> review<%= "s" if @data.count != 1 %> found</td>
	<td>&nbsp;</td>
	<td><label for="from">from: </label>
		<input type="text" id="from" name="from" value="<%= @from %>" 
			min="<%=@min_date%>" max="<%=@max_date%>" />
	</td>
	<td><lable for="to">to:</lable>
		<input type="text" id="to" name="to" value="<%= @to %>" 
			min="<%=@min_date%>" max="<%=@max_date%>" />
	</td>
	<td><%= submit_tag("Change Review Date Range") %></td>
</tr>
<tr><td><%= submit_tag("Download as CSV", :formaction => "reviewer_approval_time.csv" ) %></td></tr>
</table>
<p></p>
<% end # form %>

<%if ! @data.blank? -%>
<p>Click on links to open review. Review times greated than 5 working days are highlighted.</p>
<table id="data" border=2>
	<tr>
	<% @heads.each { | head | %>
		<th><%=head%></th>
	<% }%>
	<% @types.each { | type | %>
		<th><%=type%></th>
		<th>Days</th>
	<% }%>
	</tr>
	<% @data.each { | key, row | %>
	<tr>
		<% @heads.each { | head| %>
			<td><%=row[head]%></td>
		<% }%>
		<% @types.each { | type | 
			time=row["#{type}_time"]
			if time.blank? %>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
		    <% else
				if time > 5
					red = " style='background-color: pink' " 
				else
					red = ""
		    	end
		    %>
			<td><%= link_to(row["#{type}_role"],
                             { :controller => 'design_review',
                               :action     => :view,
                               :id         => row["#{type}_rr_id"] })
                               %><hr/><%=row["#{type}_user"]%></td>
			<td <%=red%>><%= time%></td>
		<% end }%>
	</tr>
    <% } # each row 
    %>
</table>

<% else %>

<h1>No reviews found for <%= @logged_in_user.name%></h1>

<% end %>

