<!-- View:    report                                            -->
<!-- Purpose: Displays a board_design_entry summary data        -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<table border="0" align="center">

<% @board_design_entries.sort.reverse.each do |key, entry_list| %>
  
  <tr class="teraheader"><td colspan="3" align="center"><%= key %></td></tr>
  <tr class="teraheader">
    <th width="200">Design</th>
    <th width="200">Number of Reviews</th>
    <th width="200">Phase</th>
  </tr>
    <% entry_list.each do |entry| %>
      
      <tr>
        <td align="center"><%= entry.design.directory_name  %></td>
        <td align="center"><%= entry.design.design_reviews.size %></td>
        <td align="center"><%= entry.design.phase.name %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">
        <table>
          <tr>
            <th class="teraheader" width="200">Total Entries: </th>
            <td width="100"><%= entry_list.size %></td>
            <th class="teraheader" width="200">Total Reviews: </th>
            <td width="100">
            <%= if ( @design_reviews[key] )
            	@design_reviews[key].size 
            else 
            	"0"
            end %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr><td colspan="3"><hl/></td></tr>
<% end %>

</table>

<%# debug @design_reviews %>