<%= stylesheet_link_tag "report.css" %>

<h1>Review History for <%= @logged_in_user.name%></h1>

<%= form_tag do %>
<table><tr>
	<td><%=@data.count%> review<%= "s" if @data.count != 1 %> found</td>
	<td>&nbsp;</td>
	<td><label for="from">from: </label>
		<input type="text" id="from" name="from" value="<%= @from %>" 
			min="<%=@min_date%>" max="<%=@max_date%>" />
	</td>
	<td><lable for="to">to:</lable>
		<input type="text" id="to" name="to" value="<%= @to %>" 
			min="<%=@min_date%>" max="<%=@max_date%>" />
	</td>
	<td><%= submit_tag("Change Review Date Range") %></td>
</tr></table>
<p></p>
<% end # form %>

<%if ! @data.blank? -%>

<p>
  <%= link_to "Download as CSV",   :action => "user_review_history", :format => "csv" %>
</p>

<table id="data">
	<tr>
	<% @heads.each { | head | %>
		<th><%=head%></th>
	<% }%>
	</tr>
	<% @data.each { | row | %>
	<tr>
		<% row.each { | cell | %>
		<td><%=cell%></td>
		<% } %>
	</tr>
    <% } # each row %>
</table>

<% else %>

<h1>No reviews found for <%= @logged_in_user.name%></h1>

<% end %>

