<!-- ********************************************************** -->
<!-- View:    oi_instruction                                    -->
<!-- Purpose: Displays a list of PCB design instruction categories. -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "#{@design.directory_name} - Outsource Instruction Category List" %>

<hr class="div" />

<% oi_assignments = assignment_data(@design.oi_instructions) %>

<br />
<table align="center" border="0">
  <tr class="teraheader" valign="top" align="left">
    <th width="170" valign="bottom">Category</th>
    <th valign="bottom">Total<br />Sections</th>
    <th valign="bottom">Assignments</th>
    <th valign="bottom">Cancelled</th>
    <th valign="bottom">Completed</th>
    <th colspan="2" valign="bottom">Create/View</th>
    <th valign="bottom">Report Card</th>
    <th valign="bottom">Completed</th>
    <th valign="bottom">Cancelled</th>
    <th valign="bottom">To Do</th>
  </tr>

<% @oi_category_list.each do |category| %>

  <tr>
    <td>
      <%= category.name %>
    </td>
    <td>
      <%= category.oi_category_sections.size %>
    </td>
    <td>
      <%= oi_assignments[category.id][:assigned] %>
    </td>
    <td>
        <%= oi_assignments[category.id][:cancelled] %>
    </td>
    <td>
      <%= oi_assignments[category.id][:completed] %>
    </td>
    <td title="Create assigments for <%= category.name %>">
      <% if @logged_in_user.employee? %>
        <%= link_to('Create',
                    { :controller => 'oi_instruction',
                      :action     => 'section_selection',
                      :id         => category.id,
                      :design_id  => @design.id})  %>
      <% end %>
    </td>
    <td title="View the individual assigments for <%= category.name %>">
      <% if oi_assignments[category.id][:assigned] > 0 %>
        <%= link_to('View',
                    { :action     => 'view_assignments',
                      :id         => category.id,
                      :design_id  => @design.id})  %>
      <% end %>
    </td>
    
    <% if oi_assignments[category.id][:completed] > 0 %>
      <td align="center"
          title="Follow the link to fill out the report card for the completed assignments">
        <%= link_to('Report Card',
                    { :action     => 'report_card_list',
                      :id         => category.id,
                      :design_id  => @design.id})  %>
      </td>
      <td title="The number of completed report cards">
        <%= oi_assignments[category.id][:reports] %>
      </td>
      <td title="The number of cancelled report cards">          
          <%= oi_assignments[category.id][:reports] %>
      </td>
      
      <td title="The number of report cards that need to be filled out">
        <%= oi_assignments[category.id][:completed] - oi_assignments[category.id][:reports] %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<br />

<hr class="div" />

<%= button_to('Return', url_for( :controller => 'tracker' )) %>

<%# debug @oi_category_list %>
<%# debug @design %>
<%# debug session %>