<!-- View:    Fabrication Issue Form                                         -->
<!-- Purpose: Displays a form to prompt for a fabrication.  -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<hr class="div" width="820" />

<%= form_for(@fab_issue) do %>

	<%= hidden_field :fab_issue, :user_id, :value => @logged_in_user.id %>
	<%= hidden_field :fab_issue, :design_id, :value => @design_review.design_id %>
	<%= hidden_field :design_review, :id, :value => @design_review.id %>
    
  <table border='0' align="center" width="800">
    <tr>
      <th class="teraheader" align="right">Description:&nbsp;</th>
      <td>
        <%= text_field(:fab_issue, :description, :size => 80,) %>
      </td>
    </tr>
    <tr>
      <th class="teraheader" align="right">Date Received:&nbsp;</th>
      <td>
    	  <%= text_field(:fab_issue, :received_on, :value => (@fab_issue.new_record? ? Time.now.strftime("%B %d, %Y") : @fab_issue.received_on.strftime("%B %d, %Y")))%>
      </td>
    </tr>  
    <tr>
      <th class="teraheader" align="right">Deliverable Affected:&nbsp;</th>
      <td>
      	<%= select(:fab_issue, :fab_deliverable_id, grouped_options_for_select(@fab_deliverables, @fab_issue.fab_deliverable_id)) %>
      </td>
    </tr>
    <tr>
      <th class="teraheader" align="right">Cause:&nbsp;</th>
      <td>
        <%= text_area(:fab_issue, :cause, :size => "60x3" ) %>
      </td>
    </tr>
    <tr>
      <th class="teraheader" align="right">Resolution:&nbsp;</th>
      <td>
        <%= text_area(:fab_issue, :resolution, :size => "60x3" ) %>
      </td>
    </tr>
    <tr>
      <th class="teraheader" align="right">Documentation Issue:&nbsp;</th>
      <td>
        <%= check_box :fab_issue, :documentation_issue %>
      </td>
    </tr>
    
    <tr id="clean_up_complete_row" style="display:none" >
      <th class="teraheader" align="right">Clean Up Completed:&nbsp;</th>
      <td>
    	  <%= text_field(:fab_issue, :clean_up_complete_on, :value => (@fab_issue.clean_up_complete_on.strftime("%B %d, %Y") rescue "") )%>
      </td>
    </tr>  

    <tr>
      <th class="teraheader" align="right">CleanUp Required:&nbsp;</th>
      <td>
				<%= radio_button_tag(:cleanup, "full", @fab_issue.full_rev_reqd ) %>
				<%= label_tag(:cleanup_full, "Full Rev") %>
				<%= radio_button_tag(:cleanup, "bareboard", @fab_issue.bare_brd_change_reqd) %>
				<%= label_tag(:cleanup_bareboard, "Bareboard") %>      
				<%= radio_button_tag(:cleanup, "na", (!@fab_issue.full_rev_reqd && !@fab_issue.bare_brd_change_reqd) ) %>
				<%= label_tag(:cleanup_na, "N/A") %>      
			</td>
    </tr>
    
    <tr id="fab_failure_mode_complete_row" style="display:none" >
      <th class="teraheader" align="right">Failure Mode:&nbsp;</th>
      <td>
        <%= collection_select(:fab_issue, :fab_failure_mode_id, @fab_failure_modes, :id, :name, :include_blank => true) %>
      </td>
    </tr>
    <tr>
      <th class="teraheader" align="right">Close Issue:&nbsp;</th>
      <td>
        <%= check_box :fab_issue, :resolved %>
      </td>
    </tr>

  </table>

        

  <hr class="div" width="820" />
  
  <table border='0' align="center" width="800">
    <tr>
      <td align="left">
      	<input type="button" value="Return" onClick="parent.location='<%= url_for( :controller => 'fab_issues', :action => 'index', :design_review_id => @design_review.id ) %>'" />
      </td>
      <td align="center">
        <input type="submit" value="Submit Fabrication Issue" />
      </td>
      <td align="right">
        <input type="button" value="Home" 
          onClick="parent.location='<%= url_for( :controller => 'tracker', :action => 'index') %>'" />
      </td>
    </tr>
  </table>
<% end %>