<% @heading = @design_review.display_header + ' - Fabrication Issues' %>

<%= form_tag(:action => 'new', 
            :design_review_id     => @design_review.id ) do %>
                   
<%= hidden_field "design_review", "id" %>

  <table width="100%">
    <tr>
      <td align="left">
        <input type="button" value="Return" onClick="parent.location='<%= url_for( :controller => 'design_review', :action => 'view', :id => @design_review.id ) %>'" />
      </td>
      <td align="right">
        <input type="button" value="Home" onClick="parent.location='<%= url_for( :controller => 'tracker', :action => 'index' ) %>'" />
      </td>
    </tr>
  </table>

  <hr class="div" />

	<table id="fab_issues_table" class="display">
    <thead>
    	<tr>
    		<th>Closed</th>
    		<th>RCVD On</th>
    		<th>Deliverable</th>
    		<th>Description</th>
    		<th>Cause</th>
    		<th>Resolution</th>
    		<th>Doc Issue?</th>
    		<th>Clean Up Completed On</th>
    		<th>Full Rev?</th>
    		<th>Bare BRD CHG?</th>
    		<th>Failure</th>
    		<th>Created By</th>
    		<th></th>
    		<th></th>
    		<th></th>
    	</tr>
    </thead>
    <tbody>
    	<% @fab_issues.each do |fab_issue| %>
        <tr>
          
          <% if fab_issue.resolved %>
          	<td class="fab_iss_chkbox_col" ><%= image_tag("check_mark.png") %></td>
      		<% else %>
          	<td class="fab_iss_chkbox_col" ><%= image_tag("icon_x.png") %></td>
          <% end %>
        	
        	<td class="fab_iss_date_col" ><%= fab_issue.received_on.strftime("%d-%b-%y") %></td>
        	<td><%= fab_issue.fab_deliverable.name %></td>
          
        	<td><%= truncate(fab_issue.description, :length => 50) %></td>
          <td><%= truncate(fab_issue.cause, :length => 50) %></td>
        	<td><%= truncate(fab_issue.resolution, :length => 50) %></td>
          
          <% if fab_issue.documentation_issue %>
          	<td class="fab_iss_chkbox_col" ><%= image_tag("check_mark.png") %></td>
      		<% else %>
          	<td class="fab_iss_chkbox_col" ><%= image_tag("icon_x.png") %></td>
          <% end %>
        	
					
					<td class="fab_iss_date_col" ><%= fab_issue.clean_up_complete_on.strftime("%d-%b-%y") rescue "" %></td>
          
          <% if fab_issue.full_rev_reqd %>
          	<td class="fab_iss_chkbox_col" ><%= image_tag("check_mark.png") %></td>
      		<% else %>
          	<td class="fab_iss_chkbox_col" ><%= image_tag("icon_x.png") %></td>
          <% end %>
        	
          <% if fab_issue.bare_brd_change_reqd %>
          	<td class="fab_iss_chkbox_col" ><%= image_tag("check_mark.png") %></td>
      		<% else %>
          	<td class="fab_iss_chkbox_col" ><%= image_tag("icon_x.png") %></td>
          <% end %>

        	<td class="fab_iss_other_col" ><%= fab_issue.fab_failure_mode.name rescue "" %></td>


        	<td class="fab_iss_other_col" ><%= fab_issue.user.last_name_first %></td>

			    <td><%= link_to image_tag("black_view.png"), fab_issue_path(fab_issue, :design_review_id => @design_review.id) %></td>
          <% if !fab_issue.resolved %>
			    	<td><%= link_to image_tag("black_edit.png"), edit_fab_issue_path(fab_issue, :design_review_id => @design_review.id) %></td>
			    	<td><%= link_to image_tag("black_delete.png"), fab_issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			    <% else %>
			    	<td></td>
			    	<td></td>
			    <% end %>
    		</tr>
    	<% end %>
    </tbody>
	</table>

  <hr class="div" />

  <% if @logged_in_user %>
    <input type="submit" value="New Fabrication Issue" />
  <% end %>

<% end %>




