<!-- View:    board_design_entry                                -->
<!-- Purpose: Displays a form to add a new PCB Engineering      -->
<!--          Entry.                                            -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% if @user_action == 'updating' %>

  <% @heading = "PCB Engineering - Design Details " + 
   @board_design_entry.pcb_number + " - Updating"

     action   = { :action      => 'update_entry',
                  :id          => @board_design_entry.id,
                  :user_action => 'updating',
                  :viewer      => @viewer }
     user     = @board_design_entry.user %>

<% elsif @user_action == 'adding' %>

  <% @heading = "PCB Engineering - Design Details "  +
  @board_design_entry.pcb_number + " - New Entry"
  
     action   = { :action      => 'update_entry',
                  :id          => @board_design_entry.id,
                  :user_action => 'adding' }
     user     = @logged_in_user %>
                      
<% end %>

<% form_tag(action) do %>


<hr class="div" />

<table width="90%" align="center" border="2" cellspacing="0">

<!-- ********************************************************** -->
  <tr>
  
    <td class="label">Originator: </td>
    <td class="data"  colspan="2"><%= user.name %></td>
    
    <td class="label">Division: </td>
    <td class="data">
      <select id="board_design_entry_division_id"
              name="board_design_entry[division_id]">
      <option value="0"></option>
      <%= options_from_collection_for_select(@division_list,
                                             "id",
                                             "name",
                                             user.division_id) %>
      </select>
    </td>

    <td class="label">Location: </td>
    <td class="data">
      <select id="board_design_entry_location_id"
              name="board_design_entry[location_id]">
      <option value="0"></option>
      <%= options_from_collection_for_select(@location_list,
                                             "id",
                                             "name",
                                             user.location_id) %>
      </select>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr>
    <td class="label">PCB Part Number: </td>
    <td class="data" colspan="2">
      <%= @board_design_entry.pcb_number %>
    </td>
    <td class="label">Revision: </td>
    <td class="data" colspan="3">
      <%= @board_design_entry.pcb_rev %>
    </td>
  </tr>
  
<!-- ********************************************************** -->
  <% if @board_design_entry.new? %>
  <tr>
    <td class="label" valign="top">PCBA Part Number(s): </td>
    <td class="data" colspan="6">
      <%= @board_design_entry.pcbas_string %>
    </td>
  </tr>
  <% end %>
  
<!-- ********************************************************** -->
  <tr>
    <td class="label" valign="top">Platform: </td>
    <td class="data" colspan="6">
      <%= select("board_design_entry", 
                 "platform_id", 
                 @platform_list.collect { |p| [ p.name, p.id ] }, 
                 { :include_blank => true },
                 "class" => 'wide_select' ) %>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr>
    <td class="label" valign="top">Project: </td>
    <td class="data" colspan="6">
      <%= select("board_design_entry", 
                 "project_id", 
                 @project_list.collect { |p| [ p.name, p.id ] }, 
                 { :include_blank => true },
                 "class" => 'wide_select' ) %>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr>
    <td class="label" valign="top">Board Description: </td>
    <td class="data" colspan="6">
      <%= text_field("board_design_entry", "description", "size" => 40, "maxlength" => 40) %>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr>
    <td class="label" valign="top">Product Type: </td>
    <td class="data" colspan="6">
      <%= select("board_design_entry", 
                 "product_type_id", 
                 @product_type_list.collect { |p| [ p.name, p.id ] }, 
                 { :include_blank => true },
                 "class" => 'wide_select' ) %>

    </td>
  </tr>
  
<!-- ********************************************************** -->
  <tr valign="top">
    <td class="label" valign="top">Location of Review Documents: <br />(\\server_name\...)</td>
    <td class="data" colspan="6">
      <%= text_field("board_design_entry", "review_doc_location", "size" => 100, "maxlength" => 100) %>
      <%# text_area("board_design_entry",
                    "review_doc_location",
                    { :rows => '2', :cols => '60' }) %>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr>
    <td class="label" valign="top">Design Directory Location: </td>
    <td class="data" colspan="6" valign="top">
      <%= select("board_design_entry", 
                 "design_directory_id", 
                 @design_dir_list.collect { |dd| [ dd.name, dd.id ] }, 
                 { :include_blank => true },
                 "class" => 'wide_select' ) %>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr>
    <td class="label" valign="top">Incoming Directory Location: </td>
    <td class="data" colspan="6" valign="top">
      <%= select("board_design_entry", 
                 "incoming_directory_id", 
                 @incoming_dir_list.collect { |id| [ id.name, id.id ] }, 
                 { :include_blank => true },
                 "class" => 'wide_select' ) %>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr>
    <%  mkfrm = @board_design_entry.make_from? %>
    <td class="label" valign="top">Make From: </td>
    <td class="data" colspan="2" valign="top">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td class="label" width="140">Yes: </td>
            <td class="data" align="left">
             <%= radio_button_tag('board_design_entry[make_from]', 1,
               mkfrm == true ? true:false,
               :onclick => "$(\'make_from\').style.display = \'block';" ) %>
            </td>                
          </tr>
          <tr>
            <td class="label">No: </td>
            <td class="data" align="left">
              <%= radio_button_tag('board_design_entry[make_from]', 0, mkfrm == true ? false:true,
                :onclick => "$(\'make_from\').style.display = \'none';" ) %>
            </td>
          </tr>
        </table>
    </td>
    <td class="data" colspan="4">
   <div id="make_from" <%=  mkfrm == true ? "style=display:'block'" :
  "style=\"display: none;\""%> >
      <table><tr>
      <td class="label" width="200"
        title="Identify the original PCB">
      Original PCB Number 1:
      </td>
      <td class="data">
      <%= text_field("board_design_entry",
        "original_pcb_number",
        "size" => 16) %>
      </td>
      </tr></table>
   </div>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr>
    <td class="label" valign="top">HiPot Testing Required: </td>
    <td class="data" colspan="2" valign="top">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td class="label" width="140">Yes: </td>
            <td class="data" align="left">
              <%= radio_button(:board_design_entry, :hipot_testing_required, '1') %>
            </td>
          </tr>
          <tr>
            <td class="label">No: </td>
            <td class="data" align="left">
              <%= radio_button(:board_design_entry, :hipot_testing_required, '0') %>
            </td>
          </tr>
        </table>
    </td>
    <td class="data" colspan="4" valign="top">&nbsp;</td>
  </tr>

<!-- ********************************************************** -->
<tr>
  <td class="label" valign="top">RoHS design:</td>
  <td class="data" colspan="2" valign="top">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="label" width="140">Yes: </td>
          <td class="data" align="left">
            <%= radio_button(:board_design_entry, :rohs, '1', :checked => true ) %>
          </td>
        </tr>
        <tr>
          <td class="label">No: </td>
          <td class="data" align="left">
            <%= radio_button(:board_design_entry, :rohs, '0') %>
          </td>
        </tr>
      </table>
    </td>
   <td class="data" colspan="4" valign="top">&nbsp;</td>
  </tr>
  <!-- ********************************************************** -->
  <tr>
      <td class="label" valign="top">Manual Thieving:</td>
      <td class="data" colspan="2" valign="top">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td class="label" width="140">Yes: </td>
            <td class="data" align="left">
              <%= radio_button(:board_design_entry, :thieving, '1') %>
            </td>
          </tr>
          <tr>
            <td class="label">No: </td>
            <td class="data" align="left">
              <%= radio_button(:board_design_entry, :thieving, '0',  :checked => true ) %>
            </td>
          </tr>
        </table>
      </td>
      <td class="data" colspan="4" valign="top">
        THIEVING is non-functional copper patterns that are added to a
        design to balance the layers and improve manufacturability(fabrication
        drawing: note 9)<br>
        This is very important on designs that use thin core material where the
        copper on either side of the thin core is not a full plane.
      </td>
    </tr>
<!-- ********************************************************** -->
<tr>
    <td class="label" valign="top">Copper Free Areas:</td>
    <td class="data" colspan="2" valign="top">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="label" width="140">Yes: </td>
          <td class="data" align="left">
            <%= radio_button(:board_design_entry, :no_copper, '1', :checked => true ) %>
          </td>
        </tr>
        <tr>
          <td class="label">No: </td>
          <td class="data" align="left">
            <%= radio_button(:board_design_entry, :no_copper, '0', :checked => true ) %>
          </td>
        </tr>
      </table>
    </td>
      <td class="data" colspan="4" valign="top">
        Will this design have areas that must be free of copper and/or thieving?<br>
        Mechanical route keepout areas are defined on the mechanical outline
        drawing and will be transferred to the fabrication drawing as a
        "COPPER KEEPOUT AREA" label. Copper keepout areas required for signal
        integrity must be communicated to PCB Design by the Hardware Engineer.
      </td>
   </tr>

<!-- ********************************************************** -->
  <tr valign="top">
    <td class="label" valign="top">Outline Drawing Number: </td>
    <td class="data" colspan="6">
      <%= text_field("board_design_entry", "outline_drawing_number", "size" => 40, "maxlength" => 40) %>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr valign="top">
    <td class="label" valign="top">Requested Start Date: </td>
    <td class="data" colspan="6">
      <%= date_select(:board_design_entry, 
                      'requested_start_date',
                      :start_year => Time.now.strftime("%Y").to_i,
                      :order      => [:month, :day, :year]) %>
    </td>
  </tr>

<!-- ********************************************************** -->
  <tr valign="top">
    <td class="label" valign="top">Requested Completion (FTP) Date: </td>
    <td class="data" colspan="6">
      <%= date_select(:board_design_entry, 
                      'requested_completion_date',
                      :start_year => Time.now.strftime("%Y").to_i,
                      :order      => [:month, :day, :year]) %>
    </td>
  </tr>

</table>

<hr class="div" />

<table width="80%" align="center">
  <tr>
    <td align="left">
      <% if @user_action == 'updating' %>
        <input type="button" class="form_return" value="Return"
               onClick="parent.location='<%= url_for( :action => 'view_entry', 
                                                      :id     => @board_design_entry.id,
                                                      :viewer => @viewer) %>'" />
     <% end %>
    </td>
    

    <td align="right">
      <% if @user_action == 'updating'%>
        <input type="submit" class="form_submit" value="Update Entry" />
      <% elsif @user_action == 'adding' %>
        <input type="submit" class="form_submit" value="Next -->" />
      <% end %>
    </td>
  </tr>
</table>

<% end %>

<%# debug @board_design_entry.new? %>
<%# debug @user_action %>
<%# debug @viewer %>
<%# debug @division_list %>

