<!-- View:    board_design_entry                                -->
<!-- Purpose: Displays the PCB Engineering Entry list.          -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "PCB Engineering Entry List"%>

<% form_tag(:action => 'get_part_number') do %>

<hr class="div" />

<% if @board_design_entries.size > 0 %>
  <table align="center" border="0" cellpadding="4">
    <tr>
      <th>PCB Part Number</th>
      <th>Revision</th>
      <th>Submitted</th>
      <th align="left">Submission Date</th>
      <td colspan="3">&nbsp;</td>
    </tr>
    <% @board_design_entries.each do |entry| %>
      <tr>
        <td align="center"><%= entry.pcb_number%></td>
        <td align="center"><%= entry.pcb_rev%></td>
        <td align="center"><%= entry.submitted? ? "Yes" : "No" %></td>
        <% if entry.submitted? %>
          <td><%= entry.submitted_on.format_month_dd_yyyy %></td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
        <td align="center">
          <%= link_to('View Entry',
                      {:action => 'view_entry',
                       :id     => entry.id,
                       :return => params[:action]},
                      :title => "View the PCB Engineering Entry") %>
        </td>
        <td align="center">
          <% if !entry.submitted? && entry.ready_for_submission? %>
            <%= link_to('Submit Entry', 
                        {:action => 'submit',
                         :id     => entry.id,
                         :return => params[:action]},
                        :title  => "Used to submit the PCB Engineering Entry to PCB Design",
                        :confirm => "Click 'OK' to submit the " + 
                                    entry.pcb_number  +
                                    " to PCB Design for processing.  Otherwise, click 'Cancel'.") %>
          <% else %>
            &nbsp;
          <% end%>
        </td>
        <td align="center">
          <% if !entry.submitted? %>
            <%= link_to('Delete Entry', 
                        {:action => 'destroy',
                         :id     => entry.id,
                         :return => params[:action]},
                        :title  => "Used to delete the PDB Engineering Entry",
                        :confirm => 'Do you really want to delete the ' +
                                      entry.pcb_number + " design.\n Click " +
                                    "'OK' to remove the entry, otherwise click 'Cancel'.") %>
          <% else %>
            &nbsp;
          <% end %> 
        </td>
        <% if !entry.ready_for_submission? %>
          <td>
            <b>Submission disabled.  View the entry for details.</b>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

<% else %>

  <p align="center">You do not have any entries.</p>

<% end %>
<hr class="div" />

<table width="75%" align="center">
  <tr>
    <td align="left">
      <input type="submit" value="Create a New Board Entry" />
    </td>
    <td align="right">
      <input type="button" 
             value="Home"
             onClick="parent.location='<%= url_for( :controller => 'tracker', 
                                                    :action     => 'index') %>'" />
    </td>
  </tr>
</table>

<% end %>

<% if @other_entries.size > 0 %>

  <hr class="div" />

  <h2>Other Entries</h2> 

  <table align="center" border="0" cellspacing="0" cellpadding="4">

    <tr class="teraheader">
      <th></th>
      <th>PCB Part Number</th>
      <th>Revision</th>
      <th>State</th>
      <th>Originator</th>
      <th>Details</th>
    </tr>

    <% @other_entries.each do |entry|%>
      <tr>
        <td align="center">
          <%= link_to('View Entry',
                      {:action => 'view_entry',
                       :id     => entry.id,
                       :viewer => 'peer',
                       :return => params[:action]},
                      :title => "View the PCB Engineering Entry") %>
        </td>
        <td><%= entry.pcb_number %></td>
        <td><%= entry.pcb_rev %></td>
        <td><%= entry.state.capitalize %></td>
        <td><%= entry.user.name %></td>
        <td>
          <% if entry.platform && entry.project %>
            <%= entry.platform.name %>/<%= entry.project.name %>/<%=h entry.description %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
    
  </table>

  <hr class="div" />

<% end %>

<%# debug @other_entries %>
