<!-- View:    board_design_entry                                -->
<!-- Purpose: Displays a PCB Engineering Entry.                 -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->
 
<% @heading = "PCB Engineering: #{@board_design_entry.pcb_number} - " %>
<% @heading += params[:design_review_id] ? "Input Entry Checklist" : "Design Entry Requirements" %>

<table width="80%" align="center">
  <tr>
    <% processor = params[:viewer] == 'processor' %>
    <% peer      = params[:viewer] == 'peer' %>
    <% @return   = processor ? 'processor_list' : 'originator_list' %>
    <% return_to = @return == 'originator_list' ? 'Entry' : 'Processor' %>
    <td align="center">
      <% if @design_review_id %>
        <input type="button" value="Return"
               onClick="parent.location='<%= url_for( :controller => 'design_review', 
                                                      :action => 'review_attachments',
                                                      :id => @design_review_id ) %>'" />
      <% else %>
        <input type="button" 
               value="Return to PCB Engineering <%= return_to %> List"
               onClick="parent.location='<%= url_for( :action => @return) %>'" />
      <% end %>
    </td>
  </tr>
</table>

<hr class="div" />

<table width="95%" align="center" border="0" cellpadding="2">

<%# ************************************************************************************************* %>
<%# Design Details %>
<%# ************************************************************************************************* %>
  <% if !@board_design_entry.design_data_filled_in? %>
    <tr bgcolor="red">
      <td colspan="4">
      	<b>Required Design Details need to be set</b>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4" width="100%">
      <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
         <th class="teraheader">Design Details</th>

          <% if @logged_in_user %>
              <% user_can_edit = @logged_in_user.is_designer? || @logged_in_user.is_tracker_admin? || @logged_in_user.is_manager? || @logged_in_user.is_pcb_admin? || @logged_in_user.is_pcb_management? %>
          <% else %>
              <% user_can_edit = false %> 
          <% end %>
          
          <% if ( ( @board_design_entry.modifiable? && ( !@board_design_entry.submitted? && !( processor || peer ))) ||

                  ( @board_design_entry.submitted? && processor ) ||

                   user_can_edit ) %>

            <td width="90" align="right">
              <%= link_to('Update', 
                          { :action      => 'edit_entry', 
                            :id          => @board_design_entry.id,
                            :design_review_id => @design_review_id,
                            :user_action => 'updating',
                            :viewer      => params[:viewer] }) %>
            </td>
          <% else %>
            <td width="90" class="teraheader">&nbsp;</td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>

  <tr valign="top">
    <th align="right" width="25%">PCB Part Number/Description: </th>
    <td width="25%" align="left">
      <%=  if @board_design_entry.pcb_number == ""
      	      "???-???-??"
           else
              @board_design_entry.pcb_number
           end 
      -%>
      <% if @board_design_entry.description.empty? -%>
        <span style='color: red; font-weight: bold;'>Description Not Set</span>
      <% else -%>
        <%= @board_design_entry.description %>
      <% end -%>
      <%= if ( @board_design_entry.modifiable? &&
                  ( !@board_design_entry.submitted? && !(processor || peer) ) ||
                  (  @board_design_entry.submitted? && processor  ) ) 
        link_to('Change',
  { :action    => 'change_part_numbers',
    :id        => @board_design_entry.id,
  }) 
      end -%>
    </td>

    <th align="right" width="25%">Revision: </th>
    <td align="left">
      <%= @board_design_entry.pcb_rev %>
    </td>
  </tr>
  
  <%- @board_design_entry.part_nums.each do |pn| %>
  	<% if pn.use.eql? "pcba" %>
		  <tr valign="top">
		    <th align="right" width="25%">PCBA Part Number/Description: </th>
		    <td width="25%" align="left">
		      <%= pn.name_string_with_description %>
		    </td>
		    <th align="right" width="25%">Revision: </th>
		    <td width="25%" align="left">
		      <%= pn.rev_string %>
		    </td>
		  </tr>  	
  	<% end %>
  <% end %>
    
  <tr valign="top">
    <th align="right" width="25%">Originator: </th>
    <td width="25%" align="left">
      <%= @board_design_entry.user.name %>
    </td>

    <th align="right" width="25%">Location: </th>
    <td align="left">
      <%= if @board_design_entry.location.include?("<font color=")
        raw(@board_design_entry.location)
      else
        @board_design_entry.location
      end %>
    </td>
  </tr>
  
  <tr valign="top">
    <th align="right">Submit Date:</th>
    <td align="left">
      <% if !@board_design_entry.originated? %>
        <%= @board_design_entry.submitted_on.format_month_dd_yyyy %>
      <% else %>
        <font color="red">Not Submitted</font>
      <% end %>
    </td>

    <th align="right">Division: </th>
    <td align="left">
      <%= raw @board_design_entry.division %></td>
  </tr>

  <tr valign="top">
    <th align="right">Platform: </th>
    <td align="left"><%= raw @board_design_entry.platform_name %></td>

    <th align="right">Project: </th>
    <td align="left"><%= raw @board_design_entry.project_name %></td>
  </tr>

  <tr valign="top">
    <th align="right">Product Type: </th>
    <td align="left"><%= raw @board_design_entry.product_type_name %></td>
  </tr>

  <% if @board_design_entry.pre_production_release_number != '' %>
  <tr valign="top">
    <th align="right">Pre-Production Release Number: </th>
    <td align="left"><%= @board_design_entry.pre_production_release_number %></td>
  </tr>
  <% end %>
  
  <tr valign="top">
    <th align="right">Location of Review Documents: </th>
    <td colspan="3" align="left" valign="top">
      <%= @board_design_entry.review_doc_location %>
    </td>
  </tr>
  
  <tr valign="top">
    <th align="right">Make From: </th>
    <td align="left">
      <%= @board_design_entry.make_from? ? 'Yes' : 'No' %>
    </td>
  
    <% if @board_design_entry.make_from? %>  
      <th align="right">Original PCB Number: </th>
      <td align="left">
        <%= @board_design_entry.original_pcb_number %>
      </td>
    <% end %>
  </tr>

  <tr valign="top">
    <th align="right">Backplane: </th>
    <td align="left">
      <%= @board_design_entry.backplane? ? 'Yes' : 'No' %>
    </td>
  
    <% if @board_design_entry.backplane? %>  
      <th align="right">Purchased Assembly Number: </th>
      <td align="left">
        <%= @board_design_entry.purchased_assembly_number %>
      </td>
    <% end %>
  </tr>

  <tr valign="top">
    <th align="right">Outline Drawing Number: </th>
    <td colspan="3" align="left">
      <%= @board_design_entry.outline_drawing_number %>
    </td>
  </tr>

  <tr valign="top">
    <th align="right">HiPot Testing Required: </th>
    <td align="left">
      <%= @board_design_entry.hipot_testing_required? ? 'Yes' : 'No' %>
    </td>
  </tr>

  <% if @board_design_entry.rohs == nil %>
  <tr valign="top">
    <th align="right">Lead Free Devices: </th>
    <td align="left">
      <%= @board_design_entry.lead_free_devices? ? 'Yes' : 'No' %>
    </td>

    <% if @board_design_entry.lead_free_devices? %>
      <th align="right">Lead Free Device Names: </th>
      <td align="left" valign="top">
        <%= @board_design_entry.lead_free_device_names %>
      </td>
    <% end %>
  </tr>
  <% else %>
  <tr valign="top">
    <th align="right">RoHS Design: </th>
    <td align="left">
      <%= @board_design_entry.rohs? ? 'Yes' : 'No' %>
    </td>
  </tr>

  <tr valign="top">
    <th align="right">Manual Thieving: </th>
    <td align="left">
      <%= @board_design_entry.thieving? ? 'Yes' : 'No' %>
    </td>
  </tr>

  <tr valign="top">
    <th align="right">Copper Free Areas: </th>
    <td align="left">
      <%= @board_design_entry.no_copper? ? 'Yes' : 'No' %>
    </td>
  </tr>
 <% end %>
  <tr valign="top">
    <th align="right">Mechanical Enclosures: </th>
    <td align="left">
      <%= @board_design_entry.enclosure? ? 'Yes' : 'No' %>
    </td>
  </tr>
  <tr valign="top">
    <th align="right">Design Directory Location: </th>
    <td align="left">
         <%= raw(@board_design_entry.design_directory_name) %>
    </td>

    <th align="right">Incoming Directory Location: </th>
    <td align="left">
        <%= raw(@board_design_entry.incoming_directory_name) %>
    </td>
  </tr>
  


<%# ************************************************************************************************* %>
<%# Design Constraints %>
<%# ************************************************************************************************* %>
  <tr>
    <td colspan="4" width="100%">
      <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th class="teraheader">Design Constraints</th>
          <% if ( @board_design_entry.modifiable? &&
                  ( !@board_design_entry.submitted? && !(processor || peer) ) ||
                  (  @board_design_entry.submitted? && processor  ) )  %>
            <td width="90" align="right">
              <%= link_to('Update', 
                          { :action      => 'edit_entry', 
                            :id          => @board_design_entry.id,
                            :design_review_id => @design_review_id,
                            :user_action => 'updating',
                            :viewer      => params[:viewer] }) %>
            </td>
          <% else %>
            <td width="90" class="teraheader">&nbsp;</td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
    
  <tr valign="top">
    <th align="right">Controlled Impedance:</th>
    <td align="left">
      <%= @board_design_entry.controlled_impedance? ? 'Yes' : 'No' %>
    </td>

    <th align="right">Differential Pairs: </th>
    <td align="left">
      <%= @board_design_entry.differential_pairs? ? 'Yes' : 'No' %>
    </td>
  </tr>

  <tr valign="top">
    <th align="right">Matched Propagation Delay:</th>
    <td align="left">
      <%= @board_design_entry.matched_propagation_delay? ? 'Yes' : 'No' %>
    </td>

    <th align="right">Propagation Delay:</th>
    <td align="left">
      <%= @board_design_entry.propagation_delay? ? 'Yes' : 'No' %>
    </td>
  </tr>
  
  <tr valign="top">
    <th align="right">Scheduled Nets:</th>
    <td align="left">
      <%= @board_design_entry.scheduled_nets? ? 'Yes' : 'No' %>
    </td>
  </tr>


<%# ************************************************************************************************* %>
<%# Management Team %>
<%# ************************************************************************************************* %>
  <tr>
    <td colspan="4" width="100%">
      <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th class="teraheader">Management Team</th>
          <% if ( @board_design_entry.modifiable? &&
                  ( !@board_design_entry.submitted? && !(processor || peer) ) ||
                  (  @board_design_entry.submitted? && processor  ) )  %>
            <td width="90" align="right">
              <%= link_to('Update', 
                          { :action      => 'set_team', 
                            :id          => @board_design_entry.id,
                            :user_action => 'updating',
                            :viewer      => params[:viewer] }) %>
            </td>
          <% else %>
            <td width="90" class="teraheader">&nbsp;</td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>

  <% if !@board_design_entry.all_manager_reviewers_assigned? %>
    <tr bgcolor="red">
      <td colspan="4">
      	<b>EVERY MANAGER ROLE NEEDS TO BE ASSIGNED OR CHECKED OFF AS 'NOT REQUIRED'!</b>
      </td>
    </tr>
  <% end %>

   <% rows = (@managers.size + 1) / 2 %>
   <% 0.upto(rows-1) { |i|
    member = @managers[i] %>
    <tr valign="top">
      <%=  render(:partial => "show_member", :locals => { :member => member } ) %>

      <%= if @managers[i+rows]
      member = @managers[i+rows]
      render(:partial => "show_member", :locals => { :member => member } )
      end %>
    </tr>
  <% } %>

  
<%# ************************************************************************************************* %>
<%# Review Team %>
<%# ************************************************************************************************* %>
  <tr>
    <td colspan="4" width="100%">
      <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
           <th class="teraheader">Review Team</th>
          <% if ( @board_design_entry.modifiable? &&
                  ( !@board_design_entry.submitted? && !(processor || peer) ) ||
                  (  @board_design_entry.submitted? && processor  ) )  %>
            <td width="90" align="right">
              <%= link_to('Update', 
                          { :action      => 'set_team', 
                            :id          => @board_design_entry.id,
                            :user_action => 'updating',
                            :viewer      => params[:viewer] }) %>
            </td>
          <% else %>
            <td width="90" class="teraheader">&nbsp;</td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  
  <% if !@board_design_entry.all_reviewers_assigned? %>
    <tr bgcolor="red">
      <td colspan="4">
      	<b>EVERY REVIEWER ROLE NEEDS TO BE EITHER ASSIGNED TO A REVIEWER OR CHECKED OFF AS 'NOT REQUIRED'!</b>
      </td>
    </tr>
  <% end %>

  <% rows = (@reviewers.size + 1) / 2 %>
  <% 0.upto(rows-1) { |i|
    member = @reviewers[i] %>
    <tr valign="top">
      <%= render(:partial => "show_member", :locals => { :member => member } ) %>

      <%= if @reviewers[i+rows]
        member = @reviewers[i+rows]
        render(:partial => "show_member", :locals => { :member => member } )
        end %>
    </tr>
  <% } %>
  
  
<%# ************************************************************************************************* %>
<%# Attachments %>
<%# ************************************************************************************************* %>
  <tr>
    <td colspan="4" width="100%">
      <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th class="teraheader">Attachments</th>
          <% if ( @board_design_entry.modifiable? &&
                  ( !@board_design_entry.submitted? && !(processor || peer) ) ||
                  (  @board_design_entry.submitted? && processor  ) )  %>
            <td width="90" align="right">
              <%= link_to('Update', 
                          { :action      => 'view_attachments', 
                            :id          => @board_design_entry.id,
                            :user_action => 'updating',
                            :viewer      => params[:viewer] }) %>
            </td>
          <% else %>
            <td width="90" class="teraheader">&nbsp;</td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  
  <tr valign="top">
    <th align="right">Outline Drawing:</th>
    <td align="left">
      <%= "Not" if !@board_design_entry.outline_drawing_document_id? %>
      Attached
    </td>
    <th align="right">Outline Drawing Number:</th>
    <td align="left"><%= @board_design_entry.outline_drawing_number %></td>
  </tr>

  <tr valign="top">
    <th align="right">PCB Attribute Form:</th>
    <td align="left">
      <%= "Not" if !@board_design_entry.pcb_attribute_form_document_id? %>
      Attached
    </td>
  </tr>

  <tr valign="top">
    <th align="right">Teradyne Stackup:</th>
    <td align="left">
      <%= "Not" if !@board_design_entry.teradyne_stackup_document_id? %>
      Attached
    </td>
  </tr>
  
  
<%# ************************************************************************************************* %>
<%# Comments %>
<%# ************************************************************************************************* %>
  <tr>
    <td colspan="4" width="100%">
      <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th class="teraheader">Comments</th>
          <% if ( @board_design_entry.modifiable? &&
                  ( !@board_design_entry.submitted? && !(processor || peer) ) ||
                  (  @board_design_entry.submitted? && processor  ) )  %>
            <td width="90" align="right">
              <% action = params[:viewer] == 'processor' ? 'view_processor_comments' : 'view_originator_comments' %>
              <%= link_to('Update', 
                          { :action      => action, 
                            :id          => @board_design_entry.id,
                            :user_action => 'updating',
                            :viewer      => params[:viewer] }) %>
            </td>
          <% else %>
            <td width="90" class="teraheader">&nbsp;</td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  
  <tr valign="top">
    <th align="right">Originator:</th>
    <td align="left" colspan="3">
      <%= auto_link simple_format(h(@board_design_entry.originator_comments)) -%>
    </td>
  </tr>
  
  <tr><td colspan="1"><hr class="div"></td></tr>
  
  <tr valign="top">
    <th align="right">PCB Input Gate:</th>
    <td align="left" colspan="3">
      <%= auto_link simple_format(h(@board_design_entry.input_gate_comments)) -%>
    </td>
  </tr>
  

</table>

<hr class="div" />

<table width="80%" align="center">
  <tr>
    <td align="center">
      <% if @design_review_id %>
        <input type="button" value="Return"
               onClick="parent.location='<%= url_for( :controller => 'design_review', 
                                                      :action => 'review_attachments',
                                                      :id => @design_review_id ) %>'" />
      <% else %>
        <input type="button" 
               value="Return to PCB Engineering <%= return_to %> List"
               onClick="parent.location='<%= url_for( :action => @return) %>'" />
      <% end %>
    </td>
  </tr>
</table>

<%# debug params %>
<%# debug @board_design_entry.state %>
<%# @managers.size %>